# 目录

- [关于作者](01-作者简介.md)
- [序](02-序.md)
- [导读](03-导读.md)

{% for part in state.parts -%}
## {{ part.name }}

{% for chapter in part.chapters -%}
- 第{{ chapter.id }}章 {{ chapter.title }}
{% endfor %}
{% endfor -%}
- [附录](08-附录.md)
