

﻿<!DOCTYPE HTML>
<html  ng-app="topDivApp"  ng-controller="topDivCtrl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
<title>电子工业出版社-网上书店</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="#" />
<link href="/cns/templates/stylesheets/global_book.css" rel="stylesheet" />
<link href="/cns/templates/stylesheets/web_base_book.css" rel="stylesheet" />
<script src="/cns/templates/javascript/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/ajax.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/page_script.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/angular/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/module/goods/js/jquerycookie.js"></script>
<script src="/cns/templates/javascript/jquery.qrcode.min.js" type="text/javascript"></script>

<script type="text/javascript">

function refresh(){
	var src = "/module/membercenter/ValidateImage.jsp?time="+new Date().getTime();
	$("#VCodeImg").attr('src',src); 
}
function addcookie(name,value){
	$.cookie(name,value);
}

function redcookie(name){
	//alert($.cookie(name));
	return $.cookie(name);
}

function delcookie(name){
	$.cookie(name,null)
}
 $(document).ready(function(){
	 
	//二级分类导航
	$(".all_book_sort dl:last").css("padding-bottom","14px");
	$(".arr_sec_sort").hide();
	$(".book_sec_sort").hide();
	$(".all_book_sort dl").removeClass("dl_on").addClass("dl_off");
	var len = $(".book_sec_sort").length;
	for(i=0;i<len;i++){
		$(".book_sec_sort").eq(i).css("top","-" + i*90 +"px");
		}
	$(".all_book_sort dl").hover(function(){
		$(this).addClass("dl_on");
	    $(this).find("b").hide();
		$(this).find(".arr_sec_sort").show();
		$(this).find(".book_sec_sort").show();
	},function(){
		$(".all_book_sort dl").removeClass("dl_on").addClass("dl_off");
		$(this).find("b").show();
		$(this).find(".arr_sec_sort").hide();
		$(this).find(".book_sec_sort").hide();
		
	});
	
	//购物车
	$(".bookline_cart").hover(function(){
      $(this).removeClass("cart_off").addClass("cart_on"); 
	  $(this).children(".book_cart_inner").show();
	},function(){
	  $(this).removeClass("cart_on").addClass("cart_off");
	  $(this).children(".book_cart_inner").hide();  
	});
	
	//top我的电子社
	$(".booktop_mydzs").hover(function(){
	   $(this).removeClass("mydzs_off").addClass("mydzs_on");	
	   $(this).children("p").show();
	},function(){
	   $(this).removeClass("mydzs_on").addClass("mydzs_off");	
	   $(this).children("p").hide();
	});
	
	//下拉菜单
	$(".all_book_sort").hide();
	$(".boor_sort").hover(function(){
	   $(".all_book_sort").show(); 
	},function(){
	   $(".all_book_sort").hide();
	});
	//翻页居中
		var w_gopage = $(".book_page_inner").innerWidth();
		$(".book_page_inner").css("margin-left",(1200-w_gopage)/2 + "px"); 
		
	//book内容切换
	$(".book_inner_area .book_inner_content").hide();
	$(".book_inner_area .book_inner_content:first").show();
	$(".book_content_inner .book_content_inner_title p").hover(function(){
		$(".book_content_inner .book_content_inner_title p").removeClass("p_hover");
	    $(this).addClass("p_hover");
		var index = $(".book_content_inner .book_content_inner_title p").index(this);
	    var divId = $(".book_inner_area .book_inner_content");
		divId.hide();
	    $(divId[index]).fadeIn();
			
	},function(){	
	});	
	
	//	微信分享	
	$(".share_weixin").hover(function(){
	   $(this).parent("div").find(".share_erwm").show(); 
	},function(){
	  $(this).parent("div").find(".share_erwm").hide(); 
	});	
 });
 
 
 //收藏
  function addmyfavourite(bid){
	_BFD.UserAction("favorites",{iid:bid,name:recName,category:recCategory,isbn:recISBN,object_type:"104"});
	location.href="/module/goods/favourite.jsp?bookid="+bid+"&method=addfavourite";
}
 
  function seeoneseemore(num,str,bid){
		var url = "/module/goods/llgbsdgkhkg_include.jsp?shownum="+num+"&liststr="+str+"&bookid="+bid;
		getAjaxRequestText(url,str);
	}
  //购买
   function buyUrl(bid){
	  var thirdHrefCode = '';
	  // _BFD.UserAction("buy",{iid:bid,name:recName,category:recCategory,isbn:""});
                  	var pcounts = document.getElementById("buynum").value;
                        var patrn = /^[0-9]{1,4}$/;
                        if (!patrn.exec(pcounts)) {
                            pcounts = 1;
                        }
                        else {
                            if (pcounts <= 0)
                                pcounts = 1;
                            if (pcounts >= 1000)
                                pcounts = 999;
                        }
                      var hid_miaosha = document.getElementById("miaosha").value;
                      if(hid_miaosha.length>1){//说明是秒杀
							alert(hid_miaosha);
                      }  
					location.href="./shopcar0.jsp?bookid="+bid+"&num="+pcounts;
                  	
    }

                  //这里是买电子书
                  function buyDzsUrl(bid){
					location.href="./shopcar0.jsp?ebookid="+bid;
                  }
                  

      

                  function locationGoRootType(str){
                  	 var name = encodeURIComponent(str);
                  	 location.href='/module/goods/searchkey.jsp?goodtypeid=1&goodtypename='+name;
                  }
</script>
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" href="#">
</head>
<body ng-cloak>
    <!--header beigin-->
   ﻿<link ref="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<script>
if(location.href.indexOf('ehm.phei.com.cn') != -1){
	location.href='http://www.phei.com.cn';
}
</script>
<header>

          <div class="web_booktop_wrapper">
               <div class="booktop_wrapper_inner">
                    <p class="booktop_inner_left">
                       <a href="/" title="官网首页">官网首页</a>
                       <span>|</span>
                       您好，欢迎光临电子工业出版社有限公司！
                    </p>  
                    <div class="booktop_inner_right">
                         <p id="loginp" class="booktop_login_reg" style="display:none;">
                            <span>
                                <a href="/module/membercenter/hyzx.jsp" id="topLoginUsernameHref"></a>
                            </span>
                            <span>
                                <a href="/module/membercenter/membertoplogin.jsp?logout=true">退出登录</a>
                            </span>
                              <span>
                                <a href="/module/membercenter/hyzx.jsp">我的电子社</a>
                            </span>
                        </p>
                         <p id="noLoginP" class="booktop_login_reg">
                            <span>
                                <a href="/module/membercenter/memberlogin.jsp">请登录</a>
                            </span>
                            <span>
                                <a href="/module/membercenter/memberregister.jsp">免费注册</a>
                            </span>
                        </p>
                      
                    </div> 
                </div>
           </div>
           <div class="web_bookline_wrapper">
                <p class="bookline_logo">
                   <a href="/" title="电子工业出版社">
                      <img src="/cns/templates/images/bookstore/logo_bookstore.jpg" width="225" height="41" />
                   </a>
                </p>
                <div class="bookline_search" style="position:relative;">
                     <div class="book_search_form">
                          <form name="searchForm" action="/module/goods/searchkey.jsp" onkeyup="suggest()" method="post">
                                <input type="text" name="searchKey" id="searchKey" class="input_book_text">
                                <input type="button" onclick="document.searchForm.submit()" class="input_book_btn">
                          </form>
                          <a href="/module/goods/gjsearch.jsp" title="高级搜索">高级搜索</a>
                     </div>
                     <div id="suggest" style="position:absolute; left:100px; top:41px; width:610px;font-size:16px;z-index:30;"><table style="width:100%;padding:0 15px;line-height:26px; background:#EEF8FD;">
											         <tbody id="content" ></tbody>
											      </table></div>
                     <p>
                       <span>热搜：</span>
                       <span><a href='/module/goods/searchkey.jsp?Page=1&searchKey=电子'><font color=#FF0000><strong>计算机</strong></font></a></span><span><a href='计算'><font color=#FF0000><strong>计算</strong></font></a></span><span><a href='工业'>工业</a></span>

                     </p>
                </div>
                <div style="display:none;" class="bookline_cart cart_off">
                     我的购物车(<i ng-if="noTopCartBook">0</i><i ng-if="!noTopCartBook">{{topCartTotalNum}}</i>)
                     <div ng-if="!noTopCartBook" class="book_cart_inner">
                     <div class="book_cart_inner_top">
                          您加入的商品
                     </div>
                     <div  class="book_cart_inner_middle">
                          <!--empty cart begin-->
                          <p >您的购物车中还没有商品，赶紧去够选吧！</p>
                          <!--empty cart end-->  
                          <!--product begin-->
                          <dl ng-if="!noTopCartBook" ng-repeat="data in dataArray['cartBookList']" >
                              <dt>
                                  <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title=""><img src="{{data.pic}}" /></a>
                              </dt>
                              <dd class="cart_book_title">
                                  <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">{{data.name}}</a>
                              </dd>
                              <dd class="cart_book_price">
                                  ¥{{data.price}} * {{data.num}}<br/>
                                 <!--   <a href="#">删除</a>-->
                              </dd>
                          </dl>
                         
                          <!--product end-->
                          
                            
                     </div>
                     <div class="book_cart_inner_bottom">
                          共<i>{{topCartTotalNum}}</i>件商品　共计<b>¥{{topCartTotalPrice}}</b>
                          <a href="/module/goods/shoppingcart.jsp" title="去购物车">去购物车</a>                          
                     </div>
                </div>
                </div>
           </div>
           <nav class="book_nav">
                <div class="boor_sort">
                     图书所有分类
                     <i></i>
                     <div class="all_book_sort">
                          <dl ng-repeat="data in dataArray['rootType']"  class="dl_on">
                              <dt>
                                  <a href="javascript:void(0)" title="">{{data.name}}</a>
                                  <b></b>
                              </dt>
                              <dd>
                                  <a ng-repeat="sdata in data.secondType"  href="javascript:void(0)" ng-click="gotopage(sdata.name)" title="">{{sdata.name}}</a>
                              </dd>
                              <div class="arr_sec_sort"></div>
                              <div class="book_sec_sort">
                                   <div  ng-repeat="sdata in data.secondType"  class="sec_sort_line">
                                        <p class="sec_sort_title"><a  href="javascript:void(0)" ng-click="gotopage(sdata.name)" title="">{{sdata.name}}</a></p>
                                        <p class="third_sort">
                                           <span ng-repeat="tdata in sdata.thirdType" ><a href="javascript:void(0)" ng-click="goPageNew(tdata)" title="">{{tdata.name}}</a></span>
                                       </p>
                                   </div>
                              </div>
                          </dl>
                        
                     </div>
                     
                </div>
                <ul>
                    <li>
                        <a href="/module/goods/wssd_index.jsp" title="网上书店">网上书店</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="goRootType(1047,'科技')" title="科技图书">科技图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1048,'教育')">教育图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1049,'经济管理')">经济管理</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1050,'少儿')">少儿图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1051,'大众')">大众图书</a>
                    </li>
                    <li>
                        <a href="/" title="出版社官网">官网首页</a>
                    </li>
                </ul>
           </nav>
           <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?661ca74856e211b2aec41a10c215cf52";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

function goRootType(id,str){
	 var name = encodeURIComponent(str);
	 location.href='/module/goods/searchkey.jsp?goodtypeid=1&goodtypename='+name;
}

function createXMLHttpRequest() {
    if (window.XMLHttpRequest) {
         //Mozilla 浏览器 
         XMLHttpReq = new XMLHttpRequest();
      } else{
          // IE浏览器
          if (window.ActiveXObject) {
            try {
                   XMLHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
                }catch (e) {
                   try {
                          XMLHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
                       }catch (e) { }
                }
           }
      }
  } 
function suggest()
{
     var key = document.getElementById("searchKey").value;
		var newstr = encodeURIComponent(key);
     sendRequest("/module/goods/searchajax.jsp?searchKey="+newstr);
}
function showSearchResult(data){
	console.info(data);
}
function sendRequest(url) {
    createXMLHttpRequest();
    XMLHttpReq.open("GET", url, true);
    //指定响应函数
    XMLHttpReq.onreadystatechange = handleResponse;
    // 发送请求
    XMLHttpReq.send(null); 
}   
function clearTable()
{
    var content = document.getElementById("content");
    while(content.childNodes.length>0)
    {
        content.removeChild(content.childNodes[0]);
    }    
    
}
function handleResponse() {
    // 判断对象状态
    if (XMLHttpReq.readyState == 4) { 
        // 信息已经成功返回，开始处理信息
       if (XMLHttpReq.status == 200) { 
            clearTable();
            var out = "";
            var res = XMLHttpReq.responseXML;
			//alert("res="+res);
			
            var items = res.getElementsByTagName("item");
			//alert("items="+items.length);
			
			//alert("adassssssss=>>>>="+items[0].firstChild.nodeValue);
            for(var i=0;i<items.length;i++)
            {
               //addRow(items(i).firstChild.nodeValue);
			   addRow(items[i].firstChild.nodeValue);
            }
            setDivStyle();
         }
     }
   }
function setDivStyle()
{
   var suggest = document.getElementById("suggest");
    suggest.style.border = "#CCE0EB 1px solid";
    //suggest.style.left = 213;
    //suggest.style.top = 140;
   //suggest.style.width = 195;
    //suggest.style.backgroundColor = "#EEF8FD"
    document.getElementById("suggest").style.visibility="visible"
}
function searchhidden(){
	document.getElementById("suggest").style.visibility="hidden";
}

function addRow(item)
{	
    var content = document.getElementById("content");
    var row = document.createElement("tr");
    var cell = document.createElement("td");
    cell.appendChild(document.createTextNode(item));
    cell.onmouseover = function(){this.style.background="#97D0EC"};
    cell.onmouseout = function(){this.style.background="#EEF8FD"};
    cell.onclick = function(){
    document.getElementById("searchKey").value=this.innerHTML;
    document.getElementById("suggest").style.visibility="hidden"};
    row.appendChild(cell);
    content.appendChild(row);
    
}
</script>
<script type="text/javascript">    

    document.onkeydown=keyDownSearch;
    
    function keyDownSearch(e) {  
        // 兼容FF和IE和Opera  
        var theEvent = e || window.event;  
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;  
        if (code == 13) {  
        	document.searchForm.submit()
           // console.info(code);
            return;  
        }  
        return;  
    }
</script>
    </header>
    <!--header beigin-->
    <!--search beigin-->
    <section>
        
			  <script src="/cns/templates/javascript/public.js" type="text/javascript"></script>

    <!--header beigin-->
    <!--search beigin-->
    <section>
        <div class="wrapper_book_content">
             <div class="web_book_localtion">
             <a href="/">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="locationGoRootType('科技')">科技</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:void(0)"  onclick="locationGoRootType('计算机')">计算机</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>网络与互联网</span>
             </div>
        </div>
        <div class="book_content_line">
             <div class="book_img_large">
                  <img src="https://www.phei.com.cn/covers/9787121179655.jpg" />
             </div>
             <div class="content_book_info">
                  <h1>物联网技术与实践：基于ARM Cortex-M0技术&nbsp;&nbsp; </h1>
                  <p style="display:none;">著&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</p>
                  <p>作&nbsp;&nbsp;译&nbsp;&nbsp;者：李佳,周志强</p>
                  <p>
                     <span>出版时间：2012-09</span>
                     <span>千 字 数：583</span>
                     <span>版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次：01-01  </span>
                     <span>页     数：364</span>
                  </p>
                  <p>
                     <span>开&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本：16(185*260)   </span>
                     <span>装&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帧：</span>
                     <span style="width:200px;">I S B N ：9787121179655</span>
                  </p>
                  <p>换&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版：</p>
                  <p class="book_price">
                     <span>纸质书定价：￥49.0</span>
                  </p>
                  <p class="book_buy">
                     <span><i>库存:无</i></span>
                  </p>
                  <div class="book_buy_btn">
                       <div class="btn_add_collection">
                          <a href="javascript:void(0)" onclick="addmyfavourite(33889)"></a>
                       </div>
                       <div id="buyHrefDiv" style="display:none;margin-right:30px;" class="btn_book_buy">
                          <a target="_blank" href="http://detail.tmall.com/item.htm?id="></a>
                       </div>
                       <div id="eBookHref" style="display:none;float:left;width: 177px;height:45px;margin-right:50px;clear:none;background:url(/cns/templates/images/ebook.png);">
                          <a style="float:left;width: 177px;height:45px;" target="_blank" href="https://yd.51zhy.cn/ebook/web/newBook/queryNewBookById?id=64146795"></a>
                       </div>
                       
                       <div style="margin-top:9px;" class="btn_book_share" style="width:320px;">
                          <span>分享到：</span>
                          <span class="share_sina"><a target="_blank" id="shareWeiboHref" ></a></span>
                          <span class="share_weixin"><a href="javascript:void(0)"></a></span>
                          <div class="share_erwm" id="weicinQRCodeDiv" style="display: none;"></div>
                       </div>
                  </div>
                  <p>
                     <span>共有图书评论0条</span>
                     <a href="#comment" >【查看评论摘要】</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  </p>
             </div>
        </div>
        <script >
        var temestorenum_str_new = '有';
        if(temestorenum_str_new == "有"){
        	jQuery("#eBookHref").show();
        }
        </script>
        <div class="book_content_line">
             <div class="book_content_view">
                  <p class="book_content_view_title">看了又看</p>
                  <ul>
                      <!--loop begin-->
                      <li ng-repeat="data in dataArray['seeOneSeeMoreList']" data-id="{{$index+1}}">
                          <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">
                             <img style="width:65px" src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                          </a>
                          <p class="view_li_title">
                             <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">{{data.bookName}}</a>
                          </p>
                          <p class="view_book_price">￥{{data.price}}</p>
                      </li>
                      <!--loop end-->
                  </ul>
             </div>
             <div class="book_content_container">
                  <div class="book_content_inner">
                       <div class="book_content_inner_title">
                       <p class="p_hover">内容简介</p>
                       <p>目&nbsp;录</p>
                       <p>前&nbsp;言</p>
                       <p>上架建议</p>
                       <p>作者简介</p>
                       <p style="display:none">获奖信息</p>
                       <p>编辑推荐</p>
                       <p id="peitaoziyuanP" style="display:none;" >配套资源</p>
                       <p id="audioVideoP">音视频专区</p>
                  </div>
                       <div class="book_inner_area">
                       <div class="book_inner_content" style=" display:none;">
                           <p>本书从物联网理论与实践两个方面介绍了物联网技术。主要内容包含物联网综述、国内外物联网应用现状与愿景、传感器技术、RFID技术、有线传输与组网技术、无线传输与组网技术、低功耗ARM Cortex-M0微控制器、低功耗微处理器在物联网中的应用、μC/OS-II操作系统应用、RFID实践、综合案例，并附带了资料光盘。光盘里除了包含书中实验代码外，还包含FS11C14物联网平台其他的开发资料供读者学习参考。</p>
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                          <textarea cols=78 rows=20  readonly>目    录
第1章  物联网综述	1
1.1  物联网的定义	1
1.1.1  通用定义	1
1.1.2  “中国式”定义	1
1.1.3  欧盟的定义	2
1.2  物联网的发展历史	2
1.3  物联网的体系架构	3
1.4  物联网产业标准	3
1.4.1  ITU-T物联网标准发展	4
1.4.2  ETSI物联网标准进展	5
1.4.3  3GPP/3GPP2物联网标准进展	5
1.4.4  IEEE物联网标准进展	5
1.4.5  中国物联网标准进展	6
1.5  物联网与网络安全	7
1.5.1  安全问题	7
1.5.2  安全分析	7
1.5.3  安全防护	8
1.6  物联网与云计算	8
1.7  物联网与智能处理	9
1.8  本章习题	9
第2章  国内外物联网应用现状与愿景	10
2.1  国内物联网应用的典型案例	10
2.1.1  广东虎门大桥组合式收费系统	10
2.1.2  黑龙江智能农业系统	11
2.1.3  中关村软件园智能楼宇系统	13
2.2  国外物联网应用典型案例	14
2.2.1  Perma Sense 项目	14
2.2.2  国外车联网应用案例	15
2.3  物联网应用愿景	16
2.3.1  物联网与智能家居	16
2.3.2  物联网与智能农业	16
2.3.3  物联网与智能物流	18
2.3.4  物联网与智能医疗	19
2.3.5  物联网与节能减排	20
第3章  传感器技术	21
3.1  传感器概述	21
3.1.1  传感器概念	21
3.1.2  传感器特性	22
3.1.3  传感器分类	23
3.2  传感器结构	23
3.3  常用传感器	24
3.3.1  电阻式传感器	24
3.3.2  电感式传感器	27
3.3.3  电容式传感器	34
3.3.4  磁电式传感器	36
3.3.5  压电式传感器	39
3.3.6  光电式传感器	43
3.3.7  其他	48
3.4  MEMS技术	48
3.4.1  微机电系统概念	48
3.4.2  微机电系统发展简史	49
3.4.3  微机电系统的特点及前景	49
3.5  传感器接口	50
3.5.1  SPI接口	50
3.5.2  I2C接口	51
3.5.3  串行接口	52
3.6  本章习题	53
第4章  RFID技术	54
4.1  RFID概述	54
4.1.1  RFID的基本组成	54
4.1.2  RFID的工作原理	55
4.1.3  RFID应用领域	55
4.2  RFID架构	56
4.2.1  RFID分类	56
4.2.2  RFID硬件体系结构	58
4.3  RFID标签	59
4.4  RFID阅读器	60
4.5  RFID天线技术	61
4.5.1  人们关注的天线特征	61
4.5.2  天线的分类	62
4.6  RFID中间件	63
4.6.1  中间件概述	63
4.6.2  中间件的分类	64
4.6.3  中间件的特征	64
4.7  RFID接口	65
4.8  RFID与EPC技术	65
4.8.1  EPC概述	65
4.8.2  EPC的特点	66
4.8.3  EPC系统的工作流程	66
4.8.4  EPC信息网络系统	67
4.8.5  EPC射频识别系统	68
4.8.6  EPC编码体系	69
4.9  本章习题	69
第5章  有线传输与组网技术	70
5.1  CAN总线	70
5.1.1  CAN简介	70
5.1.2  报文传输与帧结构	71
5.1.3  编码与故障处理	74
5.1.4  应用层	75
5.1.5  控制器和驱动器	76
5.2  RS-485总线	76
5.2.1  简介	76
5.2.2  布线规则	77
5.2.3  通信协议	78
5.2.4  硬件设计	78
5.3  TCP/IP	79
5.3.1  TCP/IP简介	79
5.3.2  TCP/IP的分层	79
5.3.3  TCP/IP协议族中最底层的链路层	80
5.3.4  网络层协议	80
5.3.5  传输层协议	80
5.4  本章习题	81

第6章  无线传输与组网技术	82
6.1  ZigBee技术概述	82
6.1.1  低速无线网特点	82
6.1.2  设备	84
6.1.3  网络拓扑	84
6.1.4  协议构架	85
6.1.5  服务原语	86
6.2  IEEE 802.15.4标准	87
6.2.1  物理层	87
6.2.2  MAC层	88
6.3  ZigBee规范	89
6.3.1  应用层	89
6.3.2  网络层	92
6.3.3  安全服务	99
6.4  WiFi介绍	100
6.4.1  WiFi简述	100
6.4.2  WiFi突出优势	100
6.4.3  WiFi组建方法	101
6.4.4  WiFi联结点	101
6.4.5  WiFi未来发展	102
6.5  Bluetooth介绍	102
6.5.1  蓝牙的起源	102
6.5.2  蓝牙的概念	103
6.5.3  蓝牙原理	103
6.5.4  技术优势	104
6.5.5  应用	105
6.6  GPRS介绍	105
6.6.1  GPRS概述	105
6.6.2  GPRS优势	106
6.6.3  GPRS与GSM的比较	106
6.7  3G介绍	107
6.7.1  概述	107
6.7.2  3G标准	107
6.7.3  3G应用	108
6.8  本章习题	109
第7章  低功耗ARM Cortex-M0微控制器	110
7.1  低功耗微控制器在物联网中的作用	110
7.2  Cortex-M0综述	110
7.3  Cortex-M0编程模式	111
7.3.1  Cortex-M0工作模式和工作状态	112
7.3.2  Cortex-M0寄存器	112
7.3.3  Cortex-M0数据类型	113
7.3.4  Cortex-M0存储器格式	113
7.4  Cortex-M0存储系统	114
7.4.1  系统总线构架	114
7.4.2  存储器映射	115
7.4.3  存储器属性	116
7.4.4  启动配置	117
7.4.5  系统控制寄存器	117
7.5  Cortex-M0异常和中断处理	118
7.5.1  异常类型	118
7.5.2  异常优先级	119
7.5.3  异常处理的堆栈使用	120
7.5.4  异常处理机制	122
7.5.5  异常退出	123
7.5.6  复位异常	124
7.5.7  中止（Abort）异常	126
7.5.8  SVC和PendSV	129
7.5.9  NVIC与中断控制	130
7.5.10  软件中断	131
7.5.11  SysTick定时器	132
7.5.12  异常和中断控制寄存器汇总	132
7.6  Cortex-M0电源管理	133
7.6.1  SLEEPING	134
7.6.2  SLEEPDEEP	134
7.6.3  存储器保护单元（MPU）	134
7.6.4  唤醒中断控制器（WIC）	136
7.7  Cortex-M0调试系统	136
7.7.1  Cortex-M0 ROM表的识别和入口	137
7.7.2  调试寄存器的总结	138
7.8  Cortex-M0指令集	138
7.9  本章习题	142
第8章  低功耗微处理器在物联网中的应用	143
8.1  FS11C14物联网开发平台	143
8.1.1  简介	143
8.1.2  硬件组成	143
8.1.3  应用简介	144
8.2  ARM开发环境RealView MDK平台搭建	145
8.2.1  RealView MDK安装与配置	145
8.2.2  RealView MDK使用	150
8.2.3  仿真工具U-LINK2	160
8.2.4  CMSIS标准	161
8.2.5  RealView MDK工程实例	161
8.3  启动代码与NVIC	163
8.3.1  汇编启动代码解析	163
8.3.2  NVIC功能描述	165
8.3.3  启动代码与应用程序接口	166
8.4  GPIO编程	167
8.4.1  实例内容与目标	167
8.4.2  GPIO基本原理	167
8.4.3  GPIO软件设计与实现	169
8.4.4  LED灯实验	171
8.4.5  LED数码管实验	172
8.4.6  温/湿度传感器结点实验	174
8.5  UART编程	178
8.5.1  实例内容与目标	178
8.5.2  UART基本原理	178
8.5.3  UART软件设计与分析	182
8.6  printf和scanf函数的重定位	186
8.6.1  printf函数重定位	186
8.6.2  uart_printf函数实现	187
8.6.3  scanf函数重定位	187
8.6.4  uart_scanf函数实现	188
8.7  系统编程（ISP）的使用	189
8.7.1  ISP介绍	189
8.7.2  ISP硬件设置	189
8.7.3  Flash Magic下载软件的使用	189
8.8  SPI/SSP编程	190
8.8.1  实例内容与目标	190
8.8.2  SPI/SSP基本原理	190
8.8.3  SPI/SSP软件设计与分析	192
8.8.4  OLED屏的显示实验	197
8.8.5  RS-485通信实验	199
8.9  I2C编程	201
8.9.1  实例内容与目标	201
8.9.2  I2C基本原理	201
8.9.3  I2C软件设计与实现	203
8.9.4  光敏传感器实验	207
8.9.5  三轴加速度传感器实验	209
8.10  A/D转换编程	211
8.10.1  实例内容与目标	211
8.10.2  A/D转换基本原理	211
8.10.3  A/D软件设计与实现	213
8.11  SysTick定时器编程	216
8.11.1  实例内容与目标	216
8.11.2  SysTick定时器基本原理	216
8.11.3  SysTick定时器软件设计与实现	218
8.11.4  SysTick定时器参考程序及说明	218
8.12  TIMER编程	219
8.12.1  实例内容与目标	219
8.12.2  TIMER基本原理	219
8.12.3  TIMER软件设计与分析	220
8.12.4  PWM控制蜂鸣器实验	222
8.13  WDT看门狗编程	225
8.13.1  实例内容与目标	225
8.13.2  WDT看门狗基本原理	225
8.13.3  WDT看门狗软件设计与分析	226
8.14  CAN总线编程	229
8.14.1  实例内容与目标	229
8.14.2  CAN总线基本原理	229
8.14.3  CAN总线软件设计与实现	236
8.15  本章习题	240
第9章  μC/OS-II操作系统应用	241
9.1  实时操作系统基本原理与技术	241
9.1.1  实时操作系统的基本特征	241
9.1.2  实时操作系统的关键技术指标	242
9.1.3  实时操作系统基本术语	242
9.2  μC/OS-II的任务管理和调度	244
9.2.1  μC/OS-Ⅱ的任务管理	244
9.2.2  μC/OS-Ⅱ的时间管理	258
9.2.3  任务之间通信与同步	263
9.2.4  内存管理	272
9.3  μC/OS-II应用程序开发	277
9.3.1  μC/OS-Ⅱ的变量类型	278
9.3.2  应用程序的基本结构	278
9.3.3  μC/OS-Ⅱ API介绍	279
9.3.4  μC/OS-Ⅱ多任务实现机制	280
9.4  μC/OS-II在FS11C14开发板上的移植及程序解析	281
9.4.1  移植条件	281
9.4.2  移植步骤	282
9.4.3  实例程序分析	286
9.5  本章习题	293
第10章  RFID实践	294
10.1  非接触式逻辑加密卡芯片MF1 IC S50	294
10.1.1  系统结构及工作流程	294
10.1.2  主要特性	295
10.1.3  EEPROM存储结构	295
10.1.4  操作指令与交易流程	296
10.2  MF RC522低功耗读/写芯片	297
10.3  协议说明	298
10.4  RFID读取序列号	299
10.5  RFID读取数据	301
10.6  RFID写入数据	302
10.7  RFID加密	302
10.8  本章习题	305
第11章  ZigBee实践	306
11.1  点对点通信	306
11.2  点对多点通信	310
11.3  路由和接力	312
11.4  局域网	314
11.5  本章习题	318
第12章  综合案例	319
12.1  有线无线综合网传感器信息采集	319
12.2  物联网仓储系统	320
12.2.1  开发平台介绍	320
12.2.2  系统需求分析	323
12.2.3  系统构建	325
12.2.4  项目演示	328
12.3  基于Qt的物联网仓储系统	331
12.3.1  系统概述	331
12.3.2  部分程序展现	331
12.3.3  项目演示	332
12.4  智能家居	334
12.4.1  系统背景	334
12.4.2  系统需求分析	335
12.4.3  系统构建	336
12.4.4  项目演示	341
12.5  本章习题	347</textarea>
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                           <textarea cols=78 rows=20 readonly>前    言
国内物联网产业呈现“井喷”增长，物联网市场应用如今已从电力、交通、安保等公共服务领域逐步走入民用市场领域，并且初步形成了配套的产业链。此外，各地政府对物联网产业的热衷态势无不透露着未来物联网产业的诱人前景。据权威机构预测，2012年中国物联网产业市场规模将达到2000亿元，5年后有望达到8000亿元，市场前景巨大。而随着物联网市场的爆发性扩张，物联网行业对人才的需求势必会急速增长，预计2013年会有10万以上人才缺口，而且未来十年，所需求的人才数量每年会以20%的速度递增。
物联网开发是电子、嵌入式开发、自动化控制、网络通信、计算机等专业知识的综合应用。大学阶段除了重点学习理论知识外，还需要进一步具备动手实践能力，才能适应企业的真实需要。高等职业院校开展以实验、项目开发为主的物联网应用实训则是一个极好的人才培养途径。实训环节的教学工作是职业教育教学体系的重要环节，配套的专业图书和实战案例则成为这个重要环节的必备基础。
本书从物联网的基础知识、系统搭建到综合应用，共分三个层次深入浅出地为读者拨开萦绕于物联网这个概念的重重迷雾，引领读者渐渐步入物联网世界，帮助探索者实实在在地把握第三次IT科技浪潮的方向。本书的特色如下：
	重基础，适合教学。
	重素质，全面讲解。本书在一般性教材的基础上，对物联网系统的软硬件开发环境进行了大量的讲解，可以让读者更进一步、更全面地了解物联网的开发过程。
	重实践，与实际项目相结合。本书除每章附有小实验外，特别在第11章使用大量篇幅以物联网的实际项目应用开发为例进行详细的分析讲解，并在本书附带的光盘中给出了参考设计代码和文档。
	重应用。书中的实例对时下经常使用的功能、设备、器材进行讲解和说明，力求教材所涉及的内容能紧跟行业实际应用的需要。
全书共分12章，并附各章节相关思考题。第1章介绍了物联网的定义、体系架构、产业标准等背景知识。第2章介绍了国内外一些典型应用案例，说明物联网的应用现状，并对物联网在更多行业上的应用发展描述了一些愿景。第3章全面介绍了多种物联网应用中常用的传感器技术和传感器的接口技术。第4章从RFID原理、架构、接口及EPC等方面了解RFID。第5章介绍了工业领域常用的CAN总线、RS-485总线、TCP/IP等有线通信及组网技术。第6章介绍了ZigBee、WiFi、Bluetooth、GPRS、3G等无线网络技术。第7章介绍了Cortex-M0的特点及其在物联网系统中的应用优势。第8章基于华清远见自主研发的FS11C14物联网平台，全面介绍了物联网应用中常用的接口开发技术。第9章介绍了微控制器上常用的实时操作系统μC/OS-II的基本知识及在Cortex-M0上的移植技术。第10章以MFRC522为例，介绍了RFID相关的操作。第11章介绍了点对点、一点对多点、路由接力等功能。第12章综合案例，给出了多个实验案例，加深对物联网应用的理解。
本书的出版要感谢华清远见物联网学院的无私帮助。本书的前期组织和后期审校工作都凝聚了培训中心几位老师的心血，他们认真阅读了书稿，提出了大量中肯的建议，并帮助纠正了书稿中的很多错误。
全书由李佳、周志强承担了书稿的编写及全书的统稿工作。书稿的完成需要特别感谢刘洪涛、赵孝强、曾宏安、季久峰、冯利美、曹忠明、冯瑜、程姚根、温尚书、贾燕枫、杨曼、王利丽等老师的帮助。
由于作者水平所限，书中疏漏之处在所难免，恳请读者批评指正。对于本书的批评和建议，可以发表到www.farsight.com.cn技术论坛。

编  者  
2012年7月</textarea>　　                                                                                                                                 
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                            <textarea cols=78 rows=20 readonly></textarea>                                                                    
                       </div>
                       <div class="book_inner_content" style=" display:none;">
 							 <textarea cols=78 rows=20 readonly>     </textarea>                                                                                                
                       </div>
                       <div class="book_inner_content" style=" display:none;">
							<ul>
							
							</ul>
							                                                                                                     
                       </div>
                       <div class="book_inner_content" style=" display:none;">
						　 <textarea cols=78 rows=20  readonly>  </textarea>  
						</div>                           
                       <div id="peitaoziyuanDiv" style="display:none;" class="book_inner_content" >
                       <style>
a.test1:link{
    font-size:17px; 
    color: #666;
    text-decoration: none;
}
a.test1:visited{
    font-size: 17px; 
    color: #666;
    text-decoration: none;
}
a.test1:hover{
    font-size: 17px; 
    color: #333;
    text-decoration: underline;
}
a.test1:active{
    font-size: 17px; 
    color: #666;
    text-decoration: none;
}
a.test2:link{
font:20px/24px Arial,"Microsoft YaHei";
    font-size:14px; 
    color: #666;
    text-decoration: none;
}
a.test2:visited{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #666;
    text-decoration: none;
}
a.test2:hover{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #333;
    text-decoration: underline;
}
a.test2:active{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #666;
    text-decoration: none;
}
                       </style>
                       
                           <p ng-if="!hasBookSource"></p>
                           <div ng-if="hasBookSource" class="book_content_zy">
                                <ul>
                                    <li>
                                        <a id="sourceHref"  target="_blank" href="http://www.hxedu.com.cn/hxedu/fg/book/bookinfo.html?code={{urlBookCode}}" title="">本书配套资源下载</a>
                                    </li>
                                </ul>
                           </div> 
          <div class="book_content_zy">
                                <div ng-if="hasBookSource" class="book_zy_title">
                                <a style="display:none;" class="test1" target="_blank" href="http://www.hxedu.com.cn/hxedu/fg/book/bookinfo.html?code={{urlBookCode}}">本书配套资源</a>
                                <br /><br />
                                <a style="display:none;" id="sourceHref" class="test2"  title="">本书其他配套资料下载</a>
                                <script>
                              //资源
                            	var source = '';
                            	if(source == ""){
                            		//jQuery("#sourceHref").html("本书暂无其他配套资料");
                            	}else{
                            		//jQuery("#sourceHref").html("本书其他配套资料下载");
                            		//jQuery("#sourceHref").attr("href","/module/goods/manager/templates/uploadfile/"+source);
                            	}
                                </script>
                                </div>
                           </div>                                                                                                    
                       </div>
                       <div  class="book_inner_content"  style=" display:none;">
                           <p id="noMediaDiv">对不起，暂无音视频资源！</p>
                           <div id="hasMediaDiv" class="book_audio_video">
                                <div id="bookAudioDescDiv" style="display:none;" class="book_audio_video_title">本书音频资源</div>
                                <div id="bookAudioDiv" style="display:none;" class="book_audio">
                                    <!-- 音频开始 -->
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="350" height="30"
    codebase="/player/mp3/swflash.cab">
    <param name="movie" value="/player/mp3/EasyMp3Player.swf?showDownload=false&file=/module/goods/manager/templates/uploadfile/" />
    <param name="wmode" value="transparent" />
    <embed wmode="transparent" width="350" height="30" src="/player/mp3/EasyMp3Player.swf?showDownload=false&file=/module/goods/manager/templates/uploadfile/"
    type="application/x-shockwave-flash" pluginspage="" />
</object>
                                    <!-- 音频结束 -->
                                </div>
                                <div id="bookVideoDescDiv" style="display:none;" class="book_audio_video_title">本书视频资源</div>
                                <div id="bookVideoDiv" style="display:none;" class="book_video">
                                <!-- 视频开始 -->
                                     <div class="video" id="CuPlayer">
<script type="text/javascript">

var vID        = "c1";                   //vID
var vWidth     = "600";                  //宽度设定，配合CSS实现
var vHeight    = "400";                  //高度设定，配合CSS实现
var vFile      = "/player/CuSunV4set.xml";       //配置文件地址:支持五种广告设定
var vPlayer    = "/player/player.swf?v=4.0";     //播放器文件地址
var vPic       = "/player/pic/pic01.jpg?1=1";        //视频缩略图
var vCssurl    = "/player/css/videos.min.css";   //CSS文件
var vAutoPlay  = "no";                  //是否自动播放
var vEndTime   = 0;                      //预览时间(秒数),默认为0
var vLogoPath  = "";      //Logo地址
var vPlayMod   = 0;                      //播放模式优先级,默认=0,html5优先=1,flash优先=2
var vMp4url    = "/module/goods/manager/templates/uploadfile/";//视频文件地址推荐用mp4文件(h264编码)


</script>
<script class="CuPlayerVideo" data-mce-role="CuPlayerVideo" type="text/javascript" src="/player/js/player.min.js"></script>

</div>
                                <!-- 视频结束 -->
                                </div>
                           </div>                                                                                                    
                       </div>
                  </div>
                  </div>
                  <div class="book_content_pinglun">
                       <div class="content_pinglun_title">
                       <a  name="comment"></a>
                            <span><a href="/module/goods/wssd_content_comment.jsp?bookid=33889">查看更多 ></a></span>
                            图书评论 
                       </div>
                       <div class="book_content_pinglun_form">
                            <p id="noCommentP" class="no_pinglun">暂无评论</p>
                            <div class="pinglun_area">
                                 <ul>
                                 
                                 </ul>
                            </div>
                            <div class="pinglun_form_title">发表图书评论</div>
                            <dl>
                            <form name="formcomment" method="post" action="/module/comment/commentalllogin.jsp">
                            <input type="hidden" name="goodid" value="33889"/>
                            <input type="hidden" name="locationHref" value="bookInfo"/>
                            <input  type="hidden" name="rank" id="radio" value="5" />
                                <dt>评论标题：</dt>
                                <dd><input type="text" name="title" class="dd_input_title"></dd>
                                <dt>评论内容：</dt>
                                <dd><textarea name="textcontent" onKeyDown='if (this.value.length>=100){event.returnValue=false}' class="dd_itextarea"></textarea></dd>
                                <dt>验 证 码：</dt>
                                <dd>
                                    <input type="text" name="VCode" class="dd_input_yzm">
                                    <span><img id="VCodeImg" src="/module/membercenter/ValidateImage.jsp" width="77" height="38" /></span>
                                    <i><a  href="javascript:void(0)" onclick="refresh()">看不清楚<br/>点击刷新</a></i>
                                </dd>
                                <dt>&nbsp;</dt>
                                <dd ng-if="isLogined">
                                    <input type="button" class="dd_btn_tj" onclick="commentBook()" style=" border:0;color:#fff;" value="发表评论">
                                </dd>
                                </form>
                                <dd ng-if="!isLogined">
                                    <input type="button" class="dd_btn_tj" style=" border:0;color:#fff;" value="发表评论">
                                    <p class="p_tip">您还没有登录，请登录后再评论。</p><span  class="span_login"><a href="/module/membercenter/memberlogin.jsp?backUrl=/module/goods/wssd_content.jsp?bookid=34544">点击“登录”</a></span>
                                </dd>
                            </dl>
                       </div>  
                  </div>
                  <div class="book_buy_view">
                       <div class="book_buy_view_title">购买过本书的顾客还买过</div>
                       <ul>
	                       <li ng-repeat="data in dataArray['buyOneBuyMoreList']" data-id="{{$index+1}}">
	                          <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}">
                              <p class="li_book_img">
                                 <img src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                              </p> 
                              <p class="li_book_title">{{data.bookName}}</p>
                              <p class="li_price">￥{{data.price}}</p>
                              </a>
	                      </li>
                       </ul>
                  </div>
                  <div class="book_buy_view">
                       <div class="book_buy_view_title">最近浏览</div>
                       <ul>
                           <li ng-repeat="data in dataArray['history']" data-id="{{$index+1}}">
                              <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}">
                              <p class="li_book_img">
                                 <img src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                              </p>
                              <p class="li_book_title">{{data.bookName}}</p>
                              <p class="li_price">￥{{data.price}}</p>
                              </a>
                           </li>
                       </ul>
                  </div>
             </div>
            
        </div>
    </section>
    <!--bottom menu beigin-->
     ﻿<section class="web_book_bottom">
        <div class="web_book_bottom_inner">
             <div class="web_book_bottom_innerleft">
                   <dl>
                      <dt>关于我社</dt>
                      <dd>
                      <!--EHM_SystemNav?pcid=18&showlocation=0-->
                  		
                         <a href="/gywm/cbsjj/2010-11-19/47.shtml">出版社简介</a>
                  		
               	   	     
                  		
                         <a href="/gywm/szzc/2010-11-19/48.shtml">社长致辞</a>
                  		
               	   	     
                  		
                         <a href="/gywm/smsh/2010-11-19/49.shtml">社名社徽</a>
                  		
               	   	     
                  		
                         <a href="/gywm/jgsz/2010-11-19/50.shtml">机构设置</a>
                  		
               	   	     
                  		
                         <a href="/gywm/gjhz/2010-11-19/39.shtml">国际合作</a>
                  		
               	   	     
                  		
                         <a href="/gywm/qkjs1/2018-10-14/836.shtml">期刊介绍</a>
                  		
               	   	     <!--/EHM_SystemNav-->
               	   	     <!--EHM_SystemNav?pcid=18&showlocation=1--><!--/EHM_SystemNav-->
                      </dd>
                  </dl>
                  <dl>
                      <dt>读者服务</dt>
                      <dd>
                       
                        <a href="/xssl/gszn/2011-07-28/336.shtml" title="">购书指南</a>
                       
                        <a href="/xssl/cpfw/2011-07-28/334.shtml" title="">产品范围</a>
                       
                        <a href="/xssl/wzjs/2011-07-25/330.shtml" title="">网站介绍</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>作译者服务</dt>
                      <dd>
                          
                        <a href="/module/contribution/wstg_index.jsp" title="">网上投稿</a>
                       
                        <a href="/wstg/csfx/index.shtml" title="">出书方向</a>
                       
                        <a href="/wstg/bjbm/index.shtml" title="">编辑部门</a>
                       
                        <a href="/wstg/zyzxz/index.shtml" title="">作译者须知</a>
                       
                        <a href="/module/membercenter/hyzx.jsp" title="">您的著作</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>数字资源</dt>
                      <dd>
                          
                        <a href="http://www.hxedu.com.cn" title="">华信教育资源网</a>
                       
                        <a href="https://yd.51zhy.cn/" title="">悦读</a>
                       
                        <a href="https://yx.51zhy.cn/" title="">悦学</a>
                       
                        <a href="https://yz.51zhy.cn" title="">悦知</a>
                       
                        <a href="https://znzz.51zhy.cn" title="">悦智</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>联系我们</dt>
                      <dd>
                          
                        <a href="/lxwm/wsdz/2018-10-14/854.shtml" title="">联系方式</a>
                       
                        <a href="https://phei.zhiye.com/" title="">诚邀英才</a>
                       

                      </dd>
                  </dl>
             </div>
             <div class="web_book_bottom_innerright">
                  <p>
                      <span class="bg_visit">关注我们&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="/module/goods/smxz.jsp">书目下载</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5OTEzMjg3Mw==&mid=212390993&idx=1&sn=f5b3fb3097af79ce5fcce64e34826cb0&chksm=2f9c5ff718ebd6e14a8cda34ea8f310d5696da3cddbeccb4c46bdec607f28afd96ad42df48a5&mpshare=1&scene=1&srcid=12278jdXq2Umf05cTGLL9Dro#rd">微信矩阵</a></span> 
                  </p>
                  <p>
                     <a href="https://dzgycbs.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.2.67db3d8ctVzbmz&user_number_id=1932014659&rn=f10e85f71f9f4ac1f4082e951efc341f" target="_blank"><img src="/templates/images/img_tmall.jpg" width="108" height="108" /></a>
                     <img src="/templates/images/img_ewm_weibo.jpg" width="108" height="126" />
                     <img src="/templates/images/img_ewm_weixin.jpg" width="108" height="126" />
                  </p>
             </div>   
        </div>
        <div style=" clear:both"></div>
    </section>
    <!--bottom menu end-->
    <!--footer beigin-->
    <footer>
        <div class="web_book_footer">
             <span>电子工业出版社地址：北京市万寿路南口金家村288号华信大厦</span></br>
<span>版权所有(C)2017电子工业出版社</span><span><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备11030724</a></span>
<span>出版物经营许可证：新出发京批字第版130001号</span>
        </div>
    </footer>
     <script src="/templates/javascript/imageSrcConvert.js" type="text/javascript"></script>

    <!--footer beigin-->
     <script src="/module/goods/manager/newjs/goodTypeNew.js" type="text/javascript"></script>
    <script src="/module/goods/js/wssd.js" type="text/javascript"></script>
    <script>
    //是否有电子课件在线资源，链接到华信教育资源网
    $(document).ready(function(){
    	
    //buyHrefDiv	
    var thirdHrefCode = '';
    if(thirdHrefCode!= ""){
    	jQuery("#buyHrefDiv").show();
    }
    var url = "/module/goods/abookSource.jsp?isbn=9787121179655";
    handleTrans(url,{},showHasSource);
    function showHasSource(jsonData){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
         var $scope = angular.element(appElement).scope();
         if(jsonData.code == 0){
			$scope.hasBookSource = true;    
			var source = '';
			$scope.showziyuan= false;
			if(source != "" || $scope.hasBookSource ){
				$scope.showziyuan= true;
				jQuery("#peitaoziyuanP").show();
				jQuery("#peitaoziyuanDiv").show();
			}else{
				jQuery("#peitaoziyuanP").hide();
				jQuery("#peitaoziyuanDiv").hide();
			}
			$scope.urlBookCode = jsonData.bookCode;        	 
         	$scope.$apply();
         }
    }
    //看了又看
    var seeoneseemoreUrl = "/module/goods/llgbsdgkhkg_include.jsp?shownum=10&liststr=seeoneseemorelist&bookid=33889";
    handleTrans(seeoneseemoreUrl,{},showSeeOneSeeMore);
    function showSeeOneSeeMore(jsonData){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
    	var $scope = angular.element(appElement).scope();
    	if(!$scope.dataArray){
    		$scope.dataArray = [];
    	}
        if(jsonData.code == 0){
			$scope.dataArray['seeOneSeeMoreList'] = jsonData.bookList;        	 
        }
        $scope.$apply();
    	 
    }
    //买了又买
    var buyOneBuyMoreUrl = "/module/goods/haimaile_include.jsp?shownum=6&liststr=haimailelist&bookid=33889";
    handleTrans(buyOneBuyMoreUrl,{},showBuyOneBuyMore);
    function showBuyOneBuyMore(jsonData){
    	var appElement = document.querySelector('[ng-controller=topDivCtrl]');
    	var $scope = angular.element(appElement).scope();
        if(jsonData.code == 0){
        	if(!$scope.dataArray){
        		$scope.dataArray = [];
        		$scope.dataArray['buyOneBuyMoreList'] = [];
        	}
			$scope.dataArray['buyOneBuyMoreList'] = jsonData.bookList;        	 
        }
        $scope.$apply();
    	 
    }
    //最近浏览
    var url = "/module/goods/goodcookie.jsp?shownum=12&liststr=cookielist&bookid=33889&c="+redcookie('phei');
    handleTrans(url,{},showHistory);
   
    function showHistory(jsonDate){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
         var $scope = angular.element(appElement).scope();
         if(!$scope.dataArray){
         	$scope.dataArray = [];
         	$scope.dataArray['history'] = [];
         }
         //console.info(angular.element(appElement).scope());
     	$scope.dataArray['history'] = jsonDate.historyList;
         $scope.$apply();
        
    }
    });
    </script>
    <script>
    $(document).ready(function(){
//分享功能
		var url = 'http://service.weibo.com/share/share.php?url='+location.href+'&title=物联网技术与实践：基于ARM Cortex-M0技术&searchPic=true';
		var sharePic = "";
		jQuery("img").each(function(){
			if($(this)[0].width >= 300 && $(this)[0].height >=300){
				sharePic = $(this)[0].src;
				 return false; //跳出循环
			}
		});
		if(sharePic != ""){
			url += "&pic="+sharePic;
		}
		jQuery("#shareWeiboHref").attr("href",url);
		var domain = window.location.host; 
		var qrcodeurl = "http://"+domain+"/module/wap/sbookcd.jsp?goodid=33889"
		jQuery('#weicinQRCodeDiv').qrcode(qrcodeurl);
		//jQuery('#weicinQRCodeDiv').show();	
		
		var hasComment = "false";
		if(hasComment == "true"){
			jQuery("#noCommentP").hide();
		}
		//评论
function commentBook(){
	document.formcomment.submit();
}
	
	//音频视频
	var video = '';
	var audio = '';
	
	var haveNoMedia = (video == "" && audio =="");
	if(haveNoMedia){
		jQuery("#noMediaDiv").show();
		jQuery("#audioVideoP").hide();
	}else{
		jQuery("#audioVideoP").show();
		jQuery("#noMediaDiv").hide();
	}
	if(video != ""){
		jQuery("#bookVideoDescDiv").show();
		jQuery("#bookVideoDiv").show();
	}
	if(audio != ""){
		jQuery("#bookAudioDescDiv").show();
		jQuery("#bookAudioDiv").show();
	}

 

    });
    var recCategory = "科技";
    var recName = "物联网技术与实践：基于ARM Cortex-M0技术";
    var recId = "33889";
    var recISBN = "9787121179655";
</script>
<script type="text/javascript" src="/module/goods/js/topCart.js"></script>
<script>
/*function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    //根据userAgent判断是否是手机
    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }

     var screen_width = window.screen.width;
     var screen_height = window.screen.height;    

     //根据屏幕分辨率判断是否是手机
     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }

     return mobile_flag;
}*/

//if(isMobile()){
	///location.href="/module/wap/sbookcd.jsp?goodid=33889";
//}
</script>
<script type="text/javascript" src="/cns/templates/javascript/a.js"></script>
</body>
</html>

