

﻿<!DOCTYPE HTML>
<html  ng-app="topDivApp"  ng-controller="topDivCtrl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
<title>电子工业出版社-网上书店</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="#" />
<link href="/cns/templates/stylesheets/global_book.css" rel="stylesheet" />
<link href="/cns/templates/stylesheets/web_base_book.css" rel="stylesheet" />
<script src="/cns/templates/javascript/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/ajax.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/page_script.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/angular/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/module/goods/js/jquerycookie.js"></script>
<script src="/cns/templates/javascript/jquery.qrcode.min.js" type="text/javascript"></script>

<script type="text/javascript">

function refresh(){
	var src = "/module/membercenter/ValidateImage.jsp?time="+new Date().getTime();
	$("#VCodeImg").attr('src',src); 
}
function addcookie(name,value){
	$.cookie(name,value);
}

function redcookie(name){
	//alert($.cookie(name));
	return $.cookie(name);
}

function delcookie(name){
	$.cookie(name,null)
}
 $(document).ready(function(){
	 
	//二级分类导航
	$(".all_book_sort dl:last").css("padding-bottom","14px");
	$(".arr_sec_sort").hide();
	$(".book_sec_sort").hide();
	$(".all_book_sort dl").removeClass("dl_on").addClass("dl_off");
	var len = $(".book_sec_sort").length;
	for(i=0;i<len;i++){
		$(".book_sec_sort").eq(i).css("top","-" + i*90 +"px");
		}
	$(".all_book_sort dl").hover(function(){
		$(this).addClass("dl_on");
	    $(this).find("b").hide();
		$(this).find(".arr_sec_sort").show();
		$(this).find(".book_sec_sort").show();
	},function(){
		$(".all_book_sort dl").removeClass("dl_on").addClass("dl_off");
		$(this).find("b").show();
		$(this).find(".arr_sec_sort").hide();
		$(this).find(".book_sec_sort").hide();
		
	});
	
	//购物车
	$(".bookline_cart").hover(function(){
      $(this).removeClass("cart_off").addClass("cart_on"); 
	  $(this).children(".book_cart_inner").show();
	},function(){
	  $(this).removeClass("cart_on").addClass("cart_off");
	  $(this).children(".book_cart_inner").hide();  
	});
	
	//top我的电子社
	$(".booktop_mydzs").hover(function(){
	   $(this).removeClass("mydzs_off").addClass("mydzs_on");	
	   $(this).children("p").show();
	},function(){
	   $(this).removeClass("mydzs_on").addClass("mydzs_off");	
	   $(this).children("p").hide();
	});
	
	//下拉菜单
	$(".all_book_sort").hide();
	$(".boor_sort").hover(function(){
	   $(".all_book_sort").show(); 
	},function(){
	   $(".all_book_sort").hide();
	});
	//翻页居中
		var w_gopage = $(".book_page_inner").innerWidth();
		$(".book_page_inner").css("margin-left",(1200-w_gopage)/2 + "px"); 
		
	//book内容切换
	$(".book_inner_area .book_inner_content").hide();
	$(".book_inner_area .book_inner_content:first").show();
	$(".book_content_inner .book_content_inner_title p").hover(function(){
		$(".book_content_inner .book_content_inner_title p").removeClass("p_hover");
	    $(this).addClass("p_hover");
		var index = $(".book_content_inner .book_content_inner_title p").index(this);
	    var divId = $(".book_inner_area .book_inner_content");
		divId.hide();
	    $(divId[index]).fadeIn();
			
	},function(){	
	});	
	
	//	微信分享	
	$(".share_weixin").hover(function(){
	   $(this).parent("div").find(".share_erwm").show(); 
	},function(){
	  $(this).parent("div").find(".share_erwm").hide(); 
	});	
 });
 
 
 //收藏
  function addmyfavourite(bid){
	_BFD.UserAction("favorites",{iid:bid,name:recName,category:recCategory,isbn:recISBN,object_type:"104"});
	location.href="/module/goods/favourite.jsp?bookid="+bid+"&method=addfavourite";
}
 
  function seeoneseemore(num,str,bid){
		var url = "/module/goods/llgbsdgkhkg_include.jsp?shownum="+num+"&liststr="+str+"&bookid="+bid;
		getAjaxRequestText(url,str);
	}
  //购买
   function buyUrl(bid){
	  var thirdHrefCode = '';
	  // _BFD.UserAction("buy",{iid:bid,name:recName,category:recCategory,isbn:""});
                  	var pcounts = document.getElementById("buynum").value;
                        var patrn = /^[0-9]{1,4}$/;
                        if (!patrn.exec(pcounts)) {
                            pcounts = 1;
                        }
                        else {
                            if (pcounts <= 0)
                                pcounts = 1;
                            if (pcounts >= 1000)
                                pcounts = 999;
                        }
                      var hid_miaosha = document.getElementById("miaosha").value;
                      if(hid_miaosha.length>1){//说明是秒杀
							alert(hid_miaosha);
                      }  
					location.href="./shopcar0.jsp?bookid="+bid+"&num="+pcounts;
                  	
    }

                  //这里是买电子书
                  function buyDzsUrl(bid){
					location.href="./shopcar0.jsp?ebookid="+bid;
                  }
                  

      

                  function locationGoRootType(str){
                  	 var name = encodeURIComponent(str);
                  	 location.href='/module/goods/searchkey.jsp?goodtypeid=1&goodtypename='+name;
                  }
</script>
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" href="#">
</head>
<body ng-cloak>
    <!--header beigin-->
   ﻿<link ref="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<script>
if(location.href.indexOf('ehm.phei.com.cn') != -1){
	location.href='http://www.phei.com.cn';
}
</script>
<header>

          <div class="web_booktop_wrapper">
               <div class="booktop_wrapper_inner">
                    <p class="booktop_inner_left">
                       <a href="/" title="官网首页">官网首页</a>
                       <span>|</span>
                       您好，欢迎光临电子工业出版社有限公司！
                    </p>  
                    <div class="booktop_inner_right">
                         <p id="loginp" class="booktop_login_reg" style="display:none;">
                            <span>
                                <a href="/module/membercenter/hyzx.jsp" id="topLoginUsernameHref"></a>
                            </span>
                            <span>
                                <a href="/module/membercenter/membertoplogin.jsp?logout=true">退出登录</a>
                            </span>
                              <span>
                                <a href="/module/membercenter/hyzx.jsp">我的电子社</a>
                            </span>
                        </p>
                         <p id="noLoginP" class="booktop_login_reg">
                            <span>
                                <a href="/module/membercenter/memberlogin.jsp">请登录</a>
                            </span>
                            <span>
                                <a href="/module/membercenter/memberregister.jsp">免费注册</a>
                            </span>
                        </p>
                      
                    </div> 
                </div>
           </div>
           <div class="web_bookline_wrapper">
                <p class="bookline_logo">
                   <a href="/" title="电子工业出版社">
                      <img src="/cns/templates/images/bookstore/logo_bookstore.jpg" width="225" height="41" />
                   </a>
                </p>
                <div class="bookline_search" style="position:relative;">
                     <div class="book_search_form">
                          <form name="searchForm" action="/module/goods/searchkey.jsp" onkeyup="suggest()" method="post">
                                <input type="text" name="searchKey" id="searchKey" class="input_book_text">
                                <input type="button" onclick="document.searchForm.submit()" class="input_book_btn">
                          </form>
                          <a href="/module/goods/gjsearch.jsp" title="高级搜索">高级搜索</a>
                     </div>
                     <div id="suggest" style="position:absolute; left:100px; top:41px; width:610px;font-size:16px;z-index:30;"><table style="width:100%;padding:0 15px;line-height:26px; background:#EEF8FD;">
											         <tbody id="content" ></tbody>
											      </table></div>
                     <p>
                       <span>热搜：</span>
                       <span><a href='/module/goods/searchkey.jsp?Page=1&searchKey=电子'><font color=#FF0000><strong>计算机</strong></font></a></span><span><a href='计算'><font color=#FF0000><strong>计算</strong></font></a></span><span><a href='工业'>工业</a></span>

                     </p>
                </div>
                <div style="display:none;" class="bookline_cart cart_off">
                     我的购物车(<i ng-if="noTopCartBook">0</i><i ng-if="!noTopCartBook">{{topCartTotalNum}}</i>)
                     <div ng-if="!noTopCartBook" class="book_cart_inner">
                     <div class="book_cart_inner_top">
                          您加入的商品
                     </div>
                     <div  class="book_cart_inner_middle">
                          <!--empty cart begin-->
                          <p >您的购物车中还没有商品，赶紧去够选吧！</p>
                          <!--empty cart end-->  
                          <!--product begin-->
                          <dl ng-if="!noTopCartBook" ng-repeat="data in dataArray['cartBookList']" >
                              <dt>
                                  <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title=""><img src="{{data.pic}}" /></a>
                              </dt>
                              <dd class="cart_book_title">
                                  <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">{{data.name}}</a>
                              </dd>
                              <dd class="cart_book_price">
                                  ¥{{data.price}} * {{data.num}}<br/>
                                 <!--   <a href="#">删除</a>-->
                              </dd>
                          </dl>
                         
                          <!--product end-->
                          
                            
                     </div>
                     <div class="book_cart_inner_bottom">
                          共<i>{{topCartTotalNum}}</i>件商品　共计<b>¥{{topCartTotalPrice}}</b>
                          <a href="/module/goods/shoppingcart.jsp" title="去购物车">去购物车</a>                          
                     </div>
                </div>
                </div>
           </div>
           <nav class="book_nav">
                <div class="boor_sort">
                     图书所有分类
                     <i></i>
                     <div class="all_book_sort">
                          <dl ng-repeat="data in dataArray['rootType']"  class="dl_on">
                              <dt>
                                  <a href="javascript:void(0)" title="">{{data.name}}</a>
                                  <b></b>
                              </dt>
                              <dd>
                                  <a ng-repeat="sdata in data.secondType"  href="javascript:void(0)" ng-click="gotopage(sdata.name)" title="">{{sdata.name}}</a>
                              </dd>
                              <div class="arr_sec_sort"></div>
                              <div class="book_sec_sort">
                                   <div  ng-repeat="sdata in data.secondType"  class="sec_sort_line">
                                        <p class="sec_sort_title"><a  href="javascript:void(0)" ng-click="gotopage(sdata.name)" title="">{{sdata.name}}</a></p>
                                        <p class="third_sort">
                                           <span ng-repeat="tdata in sdata.thirdType" ><a href="javascript:void(0)" ng-click="goPageNew(tdata)" title="">{{tdata.name}}</a></span>
                                       </p>
                                   </div>
                              </div>
                          </dl>
                        
                     </div>
                     
                </div>
                <ul>
                    <li>
                        <a href="/module/goods/wssd_index.jsp" title="网上书店">网上书店</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="goRootType(1047,'科技')" title="科技图书">科技图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1048,'教育')">教育图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1049,'经济管理')">经济管理</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1050,'少儿')">少儿图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1051,'大众')">大众图书</a>
                    </li>
                    <li>
                        <a href="/" title="出版社官网">官网首页</a>
                    </li>
                </ul>
           </nav>
           <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?661ca74856e211b2aec41a10c215cf52";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

function goRootType(id,str){
	 var name = encodeURIComponent(str);
	 location.href='/module/goods/searchkey.jsp?goodtypeid=1&goodtypename='+name;
}

function createXMLHttpRequest() {
    if (window.XMLHttpRequest) {
         //Mozilla 浏览器 
         XMLHttpReq = new XMLHttpRequest();
      } else{
          // IE浏览器
          if (window.ActiveXObject) {
            try {
                   XMLHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
                }catch (e) {
                   try {
                          XMLHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
                       }catch (e) { }
                }
           }
      }
  } 
function suggest()
{
     var key = document.getElementById("searchKey").value;
		var newstr = encodeURIComponent(key);
     sendRequest("/module/goods/searchajax.jsp?searchKey="+newstr);
}
function showSearchResult(data){
	console.info(data);
}
function sendRequest(url) {
    createXMLHttpRequest();
    XMLHttpReq.open("GET", url, true);
    //指定响应函数
    XMLHttpReq.onreadystatechange = handleResponse;
    // 发送请求
    XMLHttpReq.send(null); 
}   
function clearTable()
{
    var content = document.getElementById("content");
    while(content.childNodes.length>0)
    {
        content.removeChild(content.childNodes[0]);
    }    
    
}
function handleResponse() {
    // 判断对象状态
    if (XMLHttpReq.readyState == 4) { 
        // 信息已经成功返回，开始处理信息
       if (XMLHttpReq.status == 200) { 
            clearTable();
            var out = "";
            var res = XMLHttpReq.responseXML;
			//alert("res="+res);
			
            var items = res.getElementsByTagName("item");
			//alert("items="+items.length);
			
			//alert("adassssssss=>>>>="+items[0].firstChild.nodeValue);
            for(var i=0;i<items.length;i++)
            {
               //addRow(items(i).firstChild.nodeValue);
			   addRow(items[i].firstChild.nodeValue);
            }
            setDivStyle();
         }
     }
   }
function setDivStyle()
{
   var suggest = document.getElementById("suggest");
    suggest.style.border = "#CCE0EB 1px solid";
    //suggest.style.left = 213;
    //suggest.style.top = 140;
   //suggest.style.width = 195;
    //suggest.style.backgroundColor = "#EEF8FD"
    document.getElementById("suggest").style.visibility="visible"
}
function searchhidden(){
	document.getElementById("suggest").style.visibility="hidden";
}

function addRow(item)
{	
    var content = document.getElementById("content");
    var row = document.createElement("tr");
    var cell = document.createElement("td");
    cell.appendChild(document.createTextNode(item));
    cell.onmouseover = function(){this.style.background="#97D0EC"};
    cell.onmouseout = function(){this.style.background="#EEF8FD"};
    cell.onclick = function(){
    document.getElementById("searchKey").value=this.innerHTML;
    document.getElementById("suggest").style.visibility="hidden"};
    row.appendChild(cell);
    content.appendChild(row);
    
}
</script>
<script type="text/javascript">    

    document.onkeydown=keyDownSearch;
    
    function keyDownSearch(e) {  
        // 兼容FF和IE和Opera  
        var theEvent = e || window.event;  
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;  
        if (code == 13) {  
        	document.searchForm.submit()
           // console.info(code);
            return;  
        }  
        return;  
    }
</script>
    </header>
    <!--header beigin-->
    <!--search beigin-->
    <section>
        
			  <script src="/cns/templates/javascript/public.js" type="text/javascript"></script>

    <!--header beigin-->
    <!--search beigin-->
    <section>
        <div class="wrapper_book_content">
             <div class="web_book_localtion">
             <a href="/">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="locationGoRootType('教育')">教育</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:void(0)"  onclick="locationGoRootType('高职高专')">高职高专</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>电子信息类</span>
             </div>
        </div>
        <div class="book_content_line">
             <div class="book_img_large">
                  <img src="https://www.phei.com.cn/covers/9787121281846.jpg" />
             </div>
             <div class="content_book_info">
                  <h1>物联网技术及应用基础&nbsp;&nbsp; </h1>
                  <p style="display:none;">著&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</p>
                  <p>作&nbsp;&nbsp;译&nbsp;&nbsp;者：于宝明,张园</p>
                  <p>
                     <span>出版时间：2016-02</span>
                     <span>千 字 数：365</span>
                     <span>版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次：01-01  </span>
                     <span>页     数：228</span>
                  </p>
                  <p>
                     <span>开&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本：16开          </span>
                     <span>装&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帧：</span>
                     <span style="width:200px;">I S B N ：9787121281846</span>
                  </p>
                  <p>换&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版：</p>
                  <p class="book_price">
                     <span>纸质书定价：￥35.0</span>
                  </p>
                  <p class="book_buy">
                     <span><i>库存:无</i></span>
                  </p>
                  <div class="book_buy_btn">
                       <div class="btn_add_collection">
                          <a href="javascript:void(0)" onclick="addmyfavourite(44675)"></a>
                       </div>
                       <div id="buyHrefDiv" style="display:none;margin-right:30px;" class="btn_book_buy">
                          <a target="_blank" href="http://detail.tmall.com/item.htm?id="></a>
                       </div>
                       <div id="eBookHref" style="display:none;float:left;width: 177px;height:45px;margin-right:50px;clear:none;background:url(/cns/templates/images/ebook.png);">
                          <a style="float:left;width: 177px;height:45px;" target="_blank" href="https://yd.51zhy.cn/ebook/web/newBook/queryNewBookById?id="></a>
                       </div>
                       
                       <div style="margin-top:9px;" class="btn_book_share" style="width:320px;">
                          <span>分享到：</span>
                          <span class="share_sina"><a target="_blank" id="shareWeiboHref" ></a></span>
                          <span class="share_weixin"><a href="javascript:void(0)"></a></span>
                          <div class="share_erwm" id="weicinQRCodeDiv" style="display: none;"></div>
                       </div>
                  </div>
                  <p>
                     <span>共有图书评论1条</span>
                     <a href="#comment" >【查看评论摘要】</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  </p>
             </div>
        </div>
        <script >
        var temestorenum_str_new = '无';
        if(temestorenum_str_new == "有"){
        	jQuery("#eBookHref").show();
        }
        </script>
        <div class="book_content_line">
             <div class="book_content_view">
                  <p class="book_content_view_title">看了又看</p>
                  <ul>
                      <!--loop begin-->
                      <li ng-repeat="data in dataArray['seeOneSeeMoreList']" data-id="{{$index+1}}">
                          <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">
                             <img style="width:65px" src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                          </a>
                          <p class="view_li_title">
                             <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">{{data.bookName}}</a>
                          </p>
                          <p class="view_book_price">￥{{data.price}}</p>
                      </li>
                      <!--loop end-->
                  </ul>
             </div>
             <div class="book_content_container">
                  <div class="book_content_inner">
                       <div class="book_content_inner_title">
                       <p class="p_hover">内容简介</p>
                       <p>目&nbsp;录</p>
                       <p>前&nbsp;言</p>
                       <p>上架建议</p>
                       <p>作者简介</p>
                       <p style="display:none">获奖信息</p>
                       <p>编辑推荐</p>
                       <p id="peitaoziyuanP" style="display:none;" >配套资源</p>
                       <p id="audioVideoP">音视频专区</p>
                  </div>
                       <div class="book_inner_area">
                       <div class="book_inner_content" style=" display:none;">
                           <p>本书根据教育部最新的职业教育教学改革要求，结合国家示范建设课程改革成果及企业职业岗位技能需求编写而成。全书以典型项目案例为主线，通过不同的任务要求，介绍物联网相关基础知识，内容共分7个单元，包括物联网的概念与关键技术、自动识别技术、物联网定位技术、传感器与无线传感器网络技术、物联网通信与网络技术、云计算、物联网安全技术。全书以案例形式阐述物联网的技术内容和典型应用，侧重于基本概念和基本技能的介绍，强化岗位实践能力的培养。本书图文并茂，具有较强的可读性和前沿性，书中加入大量的图表，便于阅读和理解，同时融入了最新的物联网研究成果和应用。  本书提供免费的电子教学课件、相关动画和视频、习题参考答案，详见前言。</p>
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                          <textarea cols=78 rows=20  readonly>单元1  物联网的概念与关键技术	（1）
知识分布网络	（1）
  1.1  物联网的发展与特点	（2）
    1.1.1  物联网的起源与发展现状	（2）
    1.1.2  物联网的概念及特点	（6）
  思考与问答1	（9）
  训练任务1  畅想未来的物联网生活	（9）
  1.2  物联网的结构及关键技术	（9）
    1.2.1  物联网的网络架构	（9）
    1.2.2  物联网感知层技术	（10）
    1.2.3  物联网网络层技术	（13）
    1.2.4  物联网应用层技术	（15）
  1.3  典型物联网工程及发展面临的问题	（15）
    1.3.1  智能交通	（16）
    案例1-1  迪纳IOV车联网系统	（17）
    1.3.2  智能家居	（18）
    案例1-2  智能家居系统设计方案	（19）
    1.3.3  智能工业	（22）
    案例1-3  RFID生产线管理系统方案	（22）
    1.3.4  智能物流	（23）
    1.3.5  智能医疗	（23）
    1.3.6  物联网在发展过程中面临的问题	（24）
  思考与问答2	（25）
  训练任务2  调研生活中的物联网	（26）
内容小结	（26）

单元2  自动识别技术	（27）
知识分布网络	（27）
  2.1  常见自动识别技术	（28）
    案例2-1  微讯软件社保声纹认证解决方案	（28）
    2.1.1  条码技术	（31）
    2.1.2  光学字符识别技术	（36）
    2.1.3  卡识别技术	（36）
    2.1.4  生物识别技术	（38）
  思考与问答3	（38）
  训练任务3  个人信息二维码的制作	（39）
  2.2  射频识别技术	（39）
    案例2-2  通用停车场管理系统	（40）
    2.2.1  RFID系统组成	（41）
    案例2-3  RFID技术在图书馆的应用	（44）
    案例2-4  无源RFID猪场溯源管理系统	（48）
    案例2-5  基于RFID技术的仓库管理系统	（53）
    2.2.2  射频识别工作原理	（56）
    案例2-6  RFID在集装箱电子关锁中的应用	（58）
    案例2-7  煤矿井下人员定位系统	（59）
  思考与问答4	（63）
  训练任务4  调研RFID系统的实际应用	（63）
内容小结	（64）

单元3  物联网定位技术	（65）
知识分布网络	（65）
  3.1  物联网定位技术的发展与应用	（66）
    3.1.1  物联网定位技术的发展历史	（66）
    3.1.2  物联网中定位技术的具体应用	（68）
    案例3-1  “0”碰撞—车对车信息交换系统	（68）
    案例3-2  中兴移动物流解决方案	（69）
    案例3-3  智能医院人员定位系统	（71）
  3.2  全球定位系统（GPS）	（72）
    案例3-4  海纳GPS车辆定位系统	（72）
    3.2.1  GPS系统的架构	（73）
    3.2.2  GPS关键技术	（75）
    3.2.3  地理信息系统（GIS）	（77）
    案例3-5  基于GIS的大气污染扩散模拟系统	（79）
    案例3-6  基于GIS的应急处理系统	（81）
    案例3-7  施工扬尘电子防控联合执法平台	（82）
    3.2.4  北斗卫星导航定位系统	（83）
  思考与问答5	（85）
  训练任务5  调研物联网定位技术的应用	（85）
  训练任务6  体验Web GIS系统的实际应用	（85）
  3.3  其他短距离定位技术	（86）
    3.3.1  红外定位技术	（86）
    3.3.2  超声波定位技术	（86）
    3.3.3  RFID定位技术	（87）
    案例3-8  火车站RFID人员定位系统	（87）
    3.3.4  UWB（超宽带）定位技术	（88）
    3.3.5  WiFi定位技术	（89）
    3.3.6  蓝牙定位技术	（89）
    3.3.7  ZigBee定位技术	（89）
    案例3-9  基于ZigBee的监狱人员定位跟踪系统	（89）
    3.3.8  移动通信网络定位技术	（91）
  思考与问答6	（92）
  训练任务7  老人室内定位识别系统设计	（92）
内容小结	（92）

单元4  传感器与无线传感器网络技术	（93）
知识分布网络	（93）
  4.1  传感器的分类与特点	（94）
    案例4-1  机场周界防入侵系统	（94）
    4.1.1  什么是传感器	（96）
    4.1.2  传感器的分类	（98）
    案例4-2  汽车上有多少传感器	（101）
    4.1.3  传感器的特性	（102）
    4.1.4  典型传感器	（103）
    案例4-3  智能手机中的传感器	（109）
    案例4-4  基于声信息的智能化鱼群自动给食系统	（110）
  思考与问答7	（114）
  训练任务8  传感器的分类与选型	（114）
  4.2  无线传感器网络	（115）
    案例4-5  无线传感器网络智能交通系统	（115）
    4.2.1  无线传感器网络的体系结构	（117）
    4.2.2  无线传感器网络的特点	（119）
    4.2.3   传感器网络的结构	（122）
    案例4-6  基于无线Mesh网络的农作物监测系统	（124）
    案例4-7  文化遗址的无线传感器网络监测	（127）
    案例4-8  医疗监护无线传感器网络	（129）
  思考与问答8	（130）
  训练任务9  智慧农业智能大棚系统设计	（130）
  4.3  数据融合	（131）
    4.3.1  数据融合的基本概念	（131）
    4.3.2  数据融合的作用	（132）
    4.3.3  数据融合的应用	（132）
    案例4-9  卫星数据融合技术在环境遥感监测中的应用	（133）
    案例4-10  雷达组网中的数据融合	（134）
  思考与问答9	（135）
内容小结	（135）

单元5  物联网通信与网络技术	（136）
知识分布网络	（136）
  5.1  认识无线通信技术	（137）
    案例5-1  基于GSM短消息的智能家居报警系统	（137）
    5.1.1  通信技术的发展	（138）
    5.1.2  通信系统结构	（139）
    5.1.3  调制解调技术	（144）
    5.1.4  多址技术	（148）
  思考与问答10	（151）
  训练任务10  调研无线通信系统的实际应用	（151）
  5.2  蜂窝移动通信技术	（152）
    案例5-2  基于3G通信技术的智能交通指挥系统	（152）
    5.2.1  1G	（153）
    5.2.2  2G	（153）
    案例5-3  电子不停车收费系统网络架构	（155）
    5.2.3  3G	（155）
    5.2.4  4G	（159）
    案例5-4  4G智慧医疗系统	（161）
  思考与问答11	（162）
  训练任务11  调研手机上网技术与速度	（162）
  5.3  短距离无线通信技术	（163）
    案例5-5  ZigBee智能家居解决方案	（163）
    5.3.1  蓝牙	（165）
    案例5-6  基于蓝牙的汽车物联	（166）
    5.3.2  UWB	（167）
    5.3.3  ZigBee	（167）
    案例5-7  基于ZigBee技术的无线水文监测系统	（167）
    案例5-8  ZigBee无线控制智能路灯管理系统	（170）
    案例5-9  酒店室内无线覆盖解决方案	（171）
    5.3.4  WiFi	（172）
    案例5-10  大型智慧社区WiFi定位系统	（175）
  思考与问答12	（176）
  训练任务12  讨论智能电网中的通信技术	（176）
内容小结	（177）

单元6  云计算	（178）
知识分布网络	（178）
  6.1  云计算的发展	（179）
    案例6-1  华为桌面云高效办公平台	（180）
  6.2  云计算的概念	（182）
    案例6-2  IBM云计算解决案例iTricity IDC	（183）
    思考与问答13	（184）
  6.3  云计算服务模式及关键技术	（185）
    6.3.1  云计算服务模式	（185）
    6.3.2  云计算的部署类型	（188）
    6.3.3  云计算关键技术	（189）
    案例6-3  中兴通讯增值业务云CoCloud	（190）
  6.4  云计算和大数据的关系	（191）
  思考与问答14	（193）
  训练任务13  调研云计算服务方案	（193）
内容小结	（194）

单元7  物联网安全技术	（195）
知识分布网络	（195）
  7.1  物联网面临的安全威胁	（196）
    案例7-1  物联网安全事件	（196）
    7.1.1  感知层安全	（198）
    7.1.2  网络层安全	（204）
    7.1.3  应用层安全	（206）
    案例7-2  位置信息与个人隐私	（208）
  7.2  物联网基础设施安全需求与现状	（209）
  7.3  物联网系统安全体系架构	（210）
    7.3.1  物联网不同于互联网的安全风险	（210）
    7.3.2  物联网系统安全体系结构特点	（211）
  7.4  物联网系统安全体系结构组成	（211）
    7.4.1  感知层的安全架构	（211）
    7.4.2  网络层的安全架构	（212）
    7.4.3  应用层的安全架构	（212）
    案例7-3  面向3G接入的物联网安全架构	（213）
  7.5  物联网安全关键技术	（214）
    7.5.1  密钥管理机制	（214）
    7.5.2  入侵检测与容侵容错技术	（215）
    7.5.3  决策与控制安全	（215）
  思考与问答15	（215）
  训练任务14  调研物联网安全威胁	（216）
内容小结	（216）
参考文献	（217）</textarea>
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                           <textarea cols=78 rows=20 readonly>物联网技术正推动着一场新的革命，它广泛应用于工业、农业、医疗卫生、环境保护、防灾救灾、安全保卫、航空航天、军事等领域，改变着人类经济与社会生活的各个方面，也为我国经济发展带来前所未有的机遇。因此，物联网产业将需要大量的高素质、技能型工程技术人才，许多高职院校利用自身专业优势，设置了物联网技术专业，为新型产业培养社会急需的技能人才。目前市面上的物联网技术书籍大多偏深、偏难，难以被高职院校的学生所接受，为此，我们结合国家示范建设课程改革成果及企业职业岗位技能需求编写了本书。
    本书以典型项目案例为主线，介绍物联网的技术内容，侧重于基本概念和基本技能的介绍，强化案例教学，通过不同的任务要求，串接物联网相关基础知识，深入浅出，便于读者从整体上把握物联网工程的知识内涵。全书图文并茂，具有较强的可读性和前沿性，书中加入大量图表，便于阅读和理解，同时融入了最新的物联网研究和应用成果。
    本书采用任务驱动的方式，围绕物联网工程技术人员所需的专业知识逐步展开，共分为7个单元，每个单元包含不同的学习任务。单元1主要讲解物联网的概念、架构、系统组成与关键技术；单元2讲解RFID技术；单元3重点讲解物联网定位技术；单元4重点介绍物联网的传感器与无线传感网技术；单元5介绍物联网通信与网络技术；单元6介绍云计算技术；单元7重点讲解物联网安全技术。每个单元还配有内容小结、思考与问答及训练任务等。
    本书为高等职业本专科院校相应课程的教材，也可作为开放大学、成人教育、自学考试、中职学校和培训班的教材，以及物联网工程技术人员的参考书。
    本书由南京信息职业技术学院张园和于宝明主编，具体分工为：于宝明编写单元1，张园和南京电子技术研究所奚松涛编写单元2、单元3，南京信息职业技术学院胡国兵编写单元5，周波编写单元4，其余由张园编写，奚松涛高级工程师提供了大量案例，全书由于宝明统稿与定稿。在本书编写过程中，得到了合作企业南京三宝科技集团有限公司和许多专家的大力支持，还参考了大量的文献和资料，在此对相关人员一并表示感谢。
    由于时间仓促，加之编者水平有限，书中不当之处在所难免，恳请读者批评指正，我们将不胜感谢。
    为了方便教师教学，本书还配有免费的电子教学课件、相关动画和视频、习题参考答案，请有此需要的教师登录华信教育资源网（http://www.hxedu.com.cn）免费注册后进行下载，有问题可在网站留言或与电子工业出版社联系。</textarea>　　                                                                                                                                 
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                            <textarea cols=78 rows=20 readonly>物联网  电子信息 计算机</textarea>                                                                    
                       </div>
                       <div class="book_inner_content" style=" display:none;">
 							 <textarea cols=78 rows=20 readonly>2004~至今，在南京信息职业技术学院电信学院从事教学与研究工作，兼任工信行指委电子信息专指委秘书长、江苏省高职师培咨询委员等，主持完成多项科研成果，曾荣获江苏省教学成果二等奖、中国电子教育学会教学成果一等奖等。     </textarea>                                                                                                
                       </div>
                       <div class="book_inner_content" style=" display:none;">
							<ul>
							
							</ul>
							                                                                                                     
                       </div>
                       <div class="book_inner_content" style=" display:none;">
						　 <textarea cols=78 rows=20  readonly>  </textarea>  
						</div>                           
                       <div id="peitaoziyuanDiv" style="display:none;" class="book_inner_content" >
                       <style>
a.test1:link{
    font-size:17px; 
    color: #666;
    text-decoration: none;
}
a.test1:visited{
    font-size: 17px; 
    color: #666;
    text-decoration: none;
}
a.test1:hover{
    font-size: 17px; 
    color: #333;
    text-decoration: underline;
}
a.test1:active{
    font-size: 17px; 
    color: #666;
    text-decoration: none;
}
a.test2:link{
font:20px/24px Arial,"Microsoft YaHei";
    font-size:14px; 
    color: #666;
    text-decoration: none;
}
a.test2:visited{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #666;
    text-decoration: none;
}
a.test2:hover{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #333;
    text-decoration: underline;
}
a.test2:active{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #666;
    text-decoration: none;
}
                       </style>
                       
                           <p ng-if="!hasBookSource"></p>
                           <div ng-if="hasBookSource" class="book_content_zy">
                                <ul>
                                    <li>
                                        <a id="sourceHref"  target="_blank" href="http://www.hxedu.com.cn/hxedu/fg/book/bookinfo.html?code={{urlBookCode}}" title="">本书配套资源下载</a>
                                    </li>
                                </ul>
                           </div> 
          <div class="book_content_zy">
                                <div ng-if="hasBookSource" class="book_zy_title">
                                <a style="display:none;" class="test1" target="_blank" href="http://www.hxedu.com.cn/hxedu/fg/book/bookinfo.html?code={{urlBookCode}}">本书配套资源</a>
                                <br /><br />
                                <a style="display:none;" id="sourceHref" class="test2"  title="">本书其他配套资料下载</a>
                                <script>
                              //资源
                            	var source = '';
                            	if(source == ""){
                            		//jQuery("#sourceHref").html("本书暂无其他配套资料");
                            	}else{
                            		//jQuery("#sourceHref").html("本书其他配套资料下载");
                            		//jQuery("#sourceHref").attr("href","/module/goods/manager/templates/uploadfile/"+source);
                            	}
                                </script>
                                </div>
                           </div>                                                                                                    
                       </div>
                       <div  class="book_inner_content"  style=" display:none;">
                           <p id="noMediaDiv">对不起，暂无音视频资源！</p>
                           <div id="hasMediaDiv" class="book_audio_video">
                                <div id="bookAudioDescDiv" style="display:none;" class="book_audio_video_title">本书音频资源</div>
                                <div id="bookAudioDiv" style="display:none;" class="book_audio">
                                    <!-- 音频开始 -->
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="350" height="30"
    codebase="/player/mp3/swflash.cab">
    <param name="movie" value="/player/mp3/EasyMp3Player.swf?showDownload=false&file=/module/goods/manager/templates/uploadfile/" />
    <param name="wmode" value="transparent" />
    <embed wmode="transparent" width="350" height="30" src="/player/mp3/EasyMp3Player.swf?showDownload=false&file=/module/goods/manager/templates/uploadfile/"
    type="application/x-shockwave-flash" pluginspage="" />
</object>
                                    <!-- 音频结束 -->
                                </div>
                                <div id="bookVideoDescDiv" style="display:none;" class="book_audio_video_title">本书视频资源</div>
                                <div id="bookVideoDiv" style="display:none;" class="book_video">
                                <!-- 视频开始 -->
                                     <div class="video" id="CuPlayer">
<script type="text/javascript">

var vID        = "c1";                   //vID
var vWidth     = "600";                  //宽度设定，配合CSS实现
var vHeight    = "400";                  //高度设定，配合CSS实现
var vFile      = "/player/CuSunV4set.xml";       //配置文件地址:支持五种广告设定
var vPlayer    = "/player/player.swf?v=4.0";     //播放器文件地址
var vPic       = "/player/pic/pic01.jpg?1=1";        //视频缩略图
var vCssurl    = "/player/css/videos.min.css";   //CSS文件
var vAutoPlay  = "no";                  //是否自动播放
var vEndTime   = 0;                      //预览时间(秒数),默认为0
var vLogoPath  = "";      //Logo地址
var vPlayMod   = 0;                      //播放模式优先级,默认=0,html5优先=1,flash优先=2
var vMp4url    = "/module/goods/manager/templates/uploadfile/";//视频文件地址推荐用mp4文件(h264编码)


</script>
<script class="CuPlayerVideo" data-mce-role="CuPlayerVideo" type="text/javascript" src="/player/js/player.min.js"></script>

</div>
                                <!-- 视频结束 -->
                                </div>
                           </div>                                                                                                    
                       </div>
                  </div>
                  </div>
                  <div class="book_content_pinglun">
                       <div class="content_pinglun_title">
                       <a  name="comment"></a>
                            <span><a href="/module/goods/wssd_content_comment.jsp?bookid=44675">查看更多 ></a></span>
                            图书评论 
                       </div>
                       <div class="book_content_pinglun_form">
                            <p id="noCommentP" class="no_pinglun">暂无评论</p>
                            <div class="pinglun_area">
                                 <ul>
                                 <!--commentlist-->
                                     <li>
                                         <div class="li_pl_left">
                                              <img src="/cns/templates/images/bookstore/img_photo.jpg" />
                                              <span class="pl_name">apple79928</span>
                                         </div>
                                         <div class="li_pl_right">
                                              <p class="pl_content">
                                                 如题
                                                 <span class="pl_date">2016-06-12 20:42:11.0</span>
                                              </p>
                                         </div>
                                     </li>
                                     <!--/commentlist-->
                                 </ul>
                            </div>
                            <div class="pinglun_form_title">发表图书评论</div>
                            <dl>
                            <form name="formcomment" method="post" action="/module/comment/commentalllogin.jsp">
                            <input type="hidden" name="goodid" value="44675"/>
                            <input type="hidden" name="locationHref" value="bookInfo"/>
                            <input  type="hidden" name="rank" id="radio" value="5" />
                                <dt>评论标题：</dt>
                                <dd><input type="text" name="title" class="dd_input_title"></dd>
                                <dt>评论内容：</dt>
                                <dd><textarea name="textcontent" onKeyDown='if (this.value.length>=100){event.returnValue=false}' class="dd_itextarea"></textarea></dd>
                                <dt>验 证 码：</dt>
                                <dd>
                                    <input type="text" name="VCode" class="dd_input_yzm">
                                    <span><img id="VCodeImg" src="/module/membercenter/ValidateImage.jsp" width="77" height="38" /></span>
                                    <i><a  href="javascript:void(0)" onclick="refresh()">看不清楚<br/>点击刷新</a></i>
                                </dd>
                                <dt>&nbsp;</dt>
                                <dd ng-if="isLogined">
                                    <input type="button" class="dd_btn_tj" onclick="commentBook()" style=" border:0;color:#fff;" value="发表评论">
                                </dd>
                                </form>
                                <dd ng-if="!isLogined">
                                    <input type="button" class="dd_btn_tj" style=" border:0;color:#fff;" value="发表评论">
                                    <p class="p_tip">您还没有登录，请登录后再评论。</p><span  class="span_login"><a href="/module/membercenter/memberlogin.jsp?backUrl=/module/goods/wssd_content.jsp?bookid=34544">点击“登录”</a></span>
                                </dd>
                            </dl>
                       </div>  
                  </div>
                  <div class="book_buy_view">
                       <div class="book_buy_view_title">购买过本书的顾客还买过</div>
                       <ul>
	                       <li ng-repeat="data in dataArray['buyOneBuyMoreList']" data-id="{{$index+1}}">
	                          <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}">
                              <p class="li_book_img">
                                 <img src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                              </p> 
                              <p class="li_book_title">{{data.bookName}}</p>
                              <p class="li_price">￥{{data.price}}</p>
                              </a>
	                      </li>
                       </ul>
                  </div>
                  <div class="book_buy_view">
                       <div class="book_buy_view_title">最近浏览</div>
                       <ul>
                           <li ng-repeat="data in dataArray['history']" data-id="{{$index+1}}">
                              <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}">
                              <p class="li_book_img">
                                 <img src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                              </p>
                              <p class="li_book_title">{{data.bookName}}</p>
                              <p class="li_price">￥{{data.price}}</p>
                              </a>
                           </li>
                       </ul>
                  </div>
             </div>
            
        </div>
    </section>
    <!--bottom menu beigin-->
     ﻿<section class="web_book_bottom">
        <div class="web_book_bottom_inner">
             <div class="web_book_bottom_innerleft">
                   <dl>
                      <dt>关于我社</dt>
                      <dd>
                      <!--EHM_SystemNav?pcid=18&showlocation=0-->
                  		
                         <a href="/gywm/cbsjj/2010-11-19/47.shtml">出版社简介</a>
                  		
               	   	     
                  		
                         <a href="/gywm/szzc/2010-11-19/48.shtml">社长致辞</a>
                  		
               	   	     
                  		
                         <a href="/gywm/smsh/2010-11-19/49.shtml">社名社徽</a>
                  		
               	   	     
                  		
                         <a href="/gywm/jgsz/2010-11-19/50.shtml">机构设置</a>
                  		
               	   	     
                  		
                         <a href="/gywm/gjhz/2010-11-19/39.shtml">国际合作</a>
                  		
               	   	     
                  		
                         <a href="/gywm/qkjs1/2018-10-14/836.shtml">期刊介绍</a>
                  		
               	   	     <!--/EHM_SystemNav-->
               	   	     <!--EHM_SystemNav?pcid=18&showlocation=1--><!--/EHM_SystemNav-->
                      </dd>
                  </dl>
                  <dl>
                      <dt>读者服务</dt>
                      <dd>
                       
                        <a href="/xssl/gszn/2011-07-28/336.shtml" title="">购书指南</a>
                       
                        <a href="/xssl/cpfw/2011-07-28/334.shtml" title="">产品范围</a>
                       
                        <a href="/xssl/wzjs/2011-07-25/330.shtml" title="">网站介绍</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>作译者服务</dt>
                      <dd>
                          
                        <a href="/module/contribution/wstg_index.jsp" title="">网上投稿</a>
                       
                        <a href="/wstg/csfx/index.shtml" title="">出书方向</a>
                       
                        <a href="/wstg/bjbm/index.shtml" title="">编辑部门</a>
                       
                        <a href="/wstg/zyzxz/index.shtml" title="">作译者须知</a>
                       
                        <a href="/module/membercenter/hyzx.jsp" title="">您的著作</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>数字资源</dt>
                      <dd>
                          
                        <a href="http://www.hxedu.com.cn" title="">华信教育资源网</a>
                       
                        <a href="https://yd.51zhy.cn/" title="">悦读</a>
                       
                        <a href="https://yx.51zhy.cn/" title="">悦学</a>
                       
                        <a href="https://yz.51zhy.cn" title="">悦知</a>
                       
                        <a href="https://znzz.51zhy.cn" title="">悦智</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>联系我们</dt>
                      <dd>
                          
                        <a href="/lxwm/wsdz/2018-10-14/854.shtml" title="">联系方式</a>
                       
                        <a href="https://phei.zhiye.com/" title="">诚邀英才</a>
                       

                      </dd>
                  </dl>
             </div>
             <div class="web_book_bottom_innerright">
                  <p>
                      <span class="bg_visit">关注我们&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="/module/goods/smxz.jsp">书目下载</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5OTEzMjg3Mw==&mid=212390993&idx=1&sn=f5b3fb3097af79ce5fcce64e34826cb0&chksm=2f9c5ff718ebd6e14a8cda34ea8f310d5696da3cddbeccb4c46bdec607f28afd96ad42df48a5&mpshare=1&scene=1&srcid=12278jdXq2Umf05cTGLL9Dro#rd">微信矩阵</a></span> 
                  </p>
                  <p>
                     <a href="https://dzgycbs.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.2.67db3d8ctVzbmz&user_number_id=1932014659&rn=f10e85f71f9f4ac1f4082e951efc341f" target="_blank"><img src="/templates/images/img_tmall.jpg" width="108" height="108" /></a>
                     <img src="/templates/images/img_ewm_weibo.jpg" width="108" height="126" />
                     <img src="/templates/images/img_ewm_weixin.jpg" width="108" height="126" />
                  </p>
             </div>   
        </div>
        <div style=" clear:both"></div>
    </section>
    <!--bottom menu end-->
    <!--footer beigin-->
    <footer>
        <div class="web_book_footer">
             <span>电子工业出版社地址：北京市万寿路南口金家村288号华信大厦</span></br>
<span>版权所有(C)2017电子工业出版社</span><span><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备11030724</a></span>
<span>出版物经营许可证：新出发京批字第版130001号</span>
        </div>
    </footer>
     <script src="/templates/javascript/imageSrcConvert.js" type="text/javascript"></script>

    <!--footer beigin-->
     <script src="/module/goods/manager/newjs/goodTypeNew.js" type="text/javascript"></script>
    <script src="/module/goods/js/wssd.js" type="text/javascript"></script>
    <script>
    //是否有电子课件在线资源，链接到华信教育资源网
    $(document).ready(function(){
    	
    //buyHrefDiv	
    var thirdHrefCode = '';
    if(thirdHrefCode!= ""){
    	jQuery("#buyHrefDiv").show();
    }
    var url = "/module/goods/abookSource.jsp?isbn=9787121281846";
    handleTrans(url,{},showHasSource);
    function showHasSource(jsonData){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
         var $scope = angular.element(appElement).scope();
         if(jsonData.code == 0){
			$scope.hasBookSource = true;    
			var source = '';
			$scope.showziyuan= false;
			if(source != "" || $scope.hasBookSource ){
				$scope.showziyuan= true;
				jQuery("#peitaoziyuanP").show();
				jQuery("#peitaoziyuanDiv").show();
			}else{
				jQuery("#peitaoziyuanP").hide();
				jQuery("#peitaoziyuanDiv").hide();
			}
			$scope.urlBookCode = jsonData.bookCode;        	 
         	$scope.$apply();
         }
    }
    //看了又看
    var seeoneseemoreUrl = "/module/goods/llgbsdgkhkg_include.jsp?shownum=10&liststr=seeoneseemorelist&bookid=44675";
    handleTrans(seeoneseemoreUrl,{},showSeeOneSeeMore);
    function showSeeOneSeeMore(jsonData){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
    	var $scope = angular.element(appElement).scope();
    	if(!$scope.dataArray){
    		$scope.dataArray = [];
    	}
        if(jsonData.code == 0){
			$scope.dataArray['seeOneSeeMoreList'] = jsonData.bookList;        	 
        }
        $scope.$apply();
    	 
    }
    //买了又买
    var buyOneBuyMoreUrl = "/module/goods/haimaile_include.jsp?shownum=6&liststr=haimailelist&bookid=44675";
    handleTrans(buyOneBuyMoreUrl,{},showBuyOneBuyMore);
    function showBuyOneBuyMore(jsonData){
    	var appElement = document.querySelector('[ng-controller=topDivCtrl]');
    	var $scope = angular.element(appElement).scope();
        if(jsonData.code == 0){
        	if(!$scope.dataArray){
        		$scope.dataArray = [];
        		$scope.dataArray['buyOneBuyMoreList'] = [];
        	}
			$scope.dataArray['buyOneBuyMoreList'] = jsonData.bookList;        	 
        }
        $scope.$apply();
    	 
    }
    //最近浏览
    var url = "/module/goods/goodcookie.jsp?shownum=12&liststr=cookielist&bookid=44675&c="+redcookie('phei');
    handleTrans(url,{},showHistory);
   
    function showHistory(jsonDate){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
         var $scope = angular.element(appElement).scope();
         if(!$scope.dataArray){
         	$scope.dataArray = [];
         	$scope.dataArray['history'] = [];
         }
         //console.info(angular.element(appElement).scope());
     	$scope.dataArray['history'] = jsonDate.historyList;
         $scope.$apply();
        
    }
    });
    </script>
    <script>
    $(document).ready(function(){
//分享功能
		var url = 'http://service.weibo.com/share/share.php?url='+location.href+'&title=物联网技术及应用基础&searchPic=true';
		var sharePic = "";
		jQuery("img").each(function(){
			if($(this)[0].width >= 300 && $(this)[0].height >=300){
				sharePic = $(this)[0].src;
				 return false; //跳出循环
			}
		});
		if(sharePic != ""){
			url += "&pic="+sharePic;
		}
		jQuery("#shareWeiboHref").attr("href",url);
		var domain = window.location.host; 
		var qrcodeurl = "http://"+domain+"/module/wap/sbookcd.jsp?goodid=44675"
		jQuery('#weicinQRCodeDiv').qrcode(qrcodeurl);
		//jQuery('#weicinQRCodeDiv').show();	
		
		var hasComment = "true";
		if(hasComment == "true"){
			jQuery("#noCommentP").hide();
		}
		//评论
function commentBook(){
	document.formcomment.submit();
}
	
	//音频视频
	var video = '';
	var audio = '';
	
	var haveNoMedia = (video == "" && audio =="");
	if(haveNoMedia){
		jQuery("#noMediaDiv").show();
		jQuery("#audioVideoP").hide();
	}else{
		jQuery("#audioVideoP").show();
		jQuery("#noMediaDiv").hide();
	}
	if(video != ""){
		jQuery("#bookVideoDescDiv").show();
		jQuery("#bookVideoDiv").show();
	}
	if(audio != ""){
		jQuery("#bookAudioDescDiv").show();
		jQuery("#bookAudioDiv").show();
	}

 

    });
    var recCategory = "教育";
    var recName = "物联网技术及应用基础";
    var recId = "44675";
    var recISBN = "9787121281846";
</script>
<script type="text/javascript" src="/module/goods/js/topCart.js"></script>
<script>
/*function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    //根据userAgent判断是否是手机
    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }

     var screen_width = window.screen.width;
     var screen_height = window.screen.height;    

     //根据屏幕分辨率判断是否是手机
     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }

     return mobile_flag;
}*/

//if(isMobile()){
	///location.href="/module/wap/sbookcd.jsp?goodid=44675";
//}
</script>
<script type="text/javascript" src="/cns/templates/javascript/a.js"></script>
</body>
</html>

