

﻿<!DOCTYPE HTML>
<html  ng-app="topDivApp"  ng-controller="topDivCtrl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
<title>电子工业出版社-网上书店</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="#" />
<link href="/cns/templates/stylesheets/global_book.css" rel="stylesheet" />
<link href="/cns/templates/stylesheets/web_base_book.css" rel="stylesheet" />
<script src="/cns/templates/javascript/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/ajax.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/page_script.js" type="text/javascript"></script>
<script src="/cns/templates/javascript/angular/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/module/goods/js/jquerycookie.js"></script>
<script src="/cns/templates/javascript/jquery.qrcode.min.js" type="text/javascript"></script>

<script type="text/javascript">

function refresh(){
	var src = "/module/membercenter/ValidateImage.jsp?time="+new Date().getTime();
	$("#VCodeImg").attr('src',src); 
}
function addcookie(name,value){
	$.cookie(name,value);
}

function redcookie(name){
	//alert($.cookie(name));
	return $.cookie(name);
}

function delcookie(name){
	$.cookie(name,null)
}
 $(document).ready(function(){
	 
	//二级分类导航
	$(".all_book_sort dl:last").css("padding-bottom","14px");
	$(".arr_sec_sort").hide();
	$(".book_sec_sort").hide();
	$(".all_book_sort dl").removeClass("dl_on").addClass("dl_off");
	var len = $(".book_sec_sort").length;
	for(i=0;i<len;i++){
		$(".book_sec_sort").eq(i).css("top","-" + i*90 +"px");
		}
	$(".all_book_sort dl").hover(function(){
		$(this).addClass("dl_on");
	    $(this).find("b").hide();
		$(this).find(".arr_sec_sort").show();
		$(this).find(".book_sec_sort").show();
	},function(){
		$(".all_book_sort dl").removeClass("dl_on").addClass("dl_off");
		$(this).find("b").show();
		$(this).find(".arr_sec_sort").hide();
		$(this).find(".book_sec_sort").hide();
		
	});
	
	//购物车
	$(".bookline_cart").hover(function(){
      $(this).removeClass("cart_off").addClass("cart_on"); 
	  $(this).children(".book_cart_inner").show();
	},function(){
	  $(this).removeClass("cart_on").addClass("cart_off");
	  $(this).children(".book_cart_inner").hide();  
	});
	
	//top我的电子社
	$(".booktop_mydzs").hover(function(){
	   $(this).removeClass("mydzs_off").addClass("mydzs_on");	
	   $(this).children("p").show();
	},function(){
	   $(this).removeClass("mydzs_on").addClass("mydzs_off");	
	   $(this).children("p").hide();
	});
	
	//下拉菜单
	$(".all_book_sort").hide();
	$(".boor_sort").hover(function(){
	   $(".all_book_sort").show(); 
	},function(){
	   $(".all_book_sort").hide();
	});
	//翻页居中
		var w_gopage = $(".book_page_inner").innerWidth();
		$(".book_page_inner").css("margin-left",(1200-w_gopage)/2 + "px"); 
		
	//book内容切换
	$(".book_inner_area .book_inner_content").hide();
	$(".book_inner_area .book_inner_content:first").show();
	$(".book_content_inner .book_content_inner_title p").hover(function(){
		$(".book_content_inner .book_content_inner_title p").removeClass("p_hover");
	    $(this).addClass("p_hover");
		var index = $(".book_content_inner .book_content_inner_title p").index(this);
	    var divId = $(".book_inner_area .book_inner_content");
		divId.hide();
	    $(divId[index]).fadeIn();
			
	},function(){	
	});	
	
	//	微信分享	
	$(".share_weixin").hover(function(){
	   $(this).parent("div").find(".share_erwm").show(); 
	},function(){
	  $(this).parent("div").find(".share_erwm").hide(); 
	});	
 });
 
 
 //收藏
  function addmyfavourite(bid){
	_BFD.UserAction("favorites",{iid:bid,name:recName,category:recCategory,isbn:recISBN,object_type:"104"});
	location.href="/module/goods/favourite.jsp?bookid="+bid+"&method=addfavourite";
}
 
  function seeoneseemore(num,str,bid){
		var url = "/module/goods/llgbsdgkhkg_include.jsp?shownum="+num+"&liststr="+str+"&bookid="+bid;
		getAjaxRequestText(url,str);
	}
  //购买
   function buyUrl(bid){
	  var thirdHrefCode = '778159823616';
	  // _BFD.UserAction("buy",{iid:bid,name:recName,category:recCategory,isbn:""});
                  	var pcounts = document.getElementById("buynum").value;
                        var patrn = /^[0-9]{1,4}$/;
                        if (!patrn.exec(pcounts)) {
                            pcounts = 1;
                        }
                        else {
                            if (pcounts <= 0)
                                pcounts = 1;
                            if (pcounts >= 1000)
                                pcounts = 999;
                        }
                      var hid_miaosha = document.getElementById("miaosha").value;
                      if(hid_miaosha.length>1){//说明是秒杀
							alert(hid_miaosha);
                      }  
					location.href="./shopcar0.jsp?bookid="+bid+"&num="+pcounts;
                  	
    }

                  //这里是买电子书
                  function buyDzsUrl(bid){
					location.href="./shopcar0.jsp?ebookid="+bid;
                  }
                  

      

                  function locationGoRootType(str){
                  	 var name = encodeURIComponent(str);
                  	 location.href='/module/goods/searchkey.jsp?goodtypeid=1&goodtypename='+name;
                  }
</script>
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" href="#">
</head>
<body ng-cloak>
    <!--header beigin-->
   ﻿<link ref="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<script>
if(location.href.indexOf('ehm.phei.com.cn') != -1){
	location.href='http://www.phei.com.cn';
}
</script>
<header>

          <div class="web_booktop_wrapper">
               <div class="booktop_wrapper_inner">
                    <p class="booktop_inner_left">
                       <a href="/" title="官网首页">官网首页</a>
                       <span>|</span>
                       您好，欢迎光临电子工业出版社有限公司！
                    </p>  
                    <div class="booktop_inner_right">
                         <p id="loginp" class="booktop_login_reg" style="display:none;">
                            <span>
                                <a href="/module/membercenter/hyzx.jsp" id="topLoginUsernameHref"></a>
                            </span>
                            <span>
                                <a href="/module/membercenter/membertoplogin.jsp?logout=true">退出登录</a>
                            </span>
                              <span>
                                <a href="/module/membercenter/hyzx.jsp">我的电子社</a>
                            </span>
                        </p>
                         <p id="noLoginP" class="booktop_login_reg">
                            <span>
                                <a href="/module/membercenter/memberlogin.jsp">请登录</a>
                            </span>
                            <span>
                                <a href="/module/membercenter/memberregister.jsp">免费注册</a>
                            </span>
                        </p>
                      
                    </div> 
                </div>
           </div>
           <div class="web_bookline_wrapper">
                <p class="bookline_logo">
                   <a href="/" title="电子工业出版社">
                      <img src="/cns/templates/images/bookstore/logo_bookstore.jpg" width="225" height="41" />
                   </a>
                </p>
                <div class="bookline_search" style="position:relative;">
                     <div class="book_search_form">
                          <form name="searchForm" action="/module/goods/searchkey.jsp" onkeyup="suggest()" method="post">
                                <input type="text" name="searchKey" id="searchKey" class="input_book_text">
                                <input type="button" onclick="document.searchForm.submit()" class="input_book_btn">
                          </form>
                          <a href="/module/goods/gjsearch.jsp" title="高级搜索">高级搜索</a>
                     </div>
                     <div id="suggest" style="position:absolute; left:100px; top:41px; width:610px;font-size:16px;z-index:30;"><table style="width:100%;padding:0 15px;line-height:26px; background:#EEF8FD;">
											         <tbody id="content" ></tbody>
											      </table></div>
                     <p>
                       <span>热搜：</span>
                       <span><a href='/module/goods/searchkey.jsp?Page=1&searchKey=电子'><font color=#FF0000><strong>计算机</strong></font></a></span><span><a href='计算'><font color=#FF0000><strong>计算</strong></font></a></span><span><a href='工业'>工业</a></span>

                     </p>
                </div>
                <div style="display:none;" class="bookline_cart cart_off">
                     我的购物车(<i ng-if="noTopCartBook">0</i><i ng-if="!noTopCartBook">{{topCartTotalNum}}</i>)
                     <div ng-if="!noTopCartBook" class="book_cart_inner">
                     <div class="book_cart_inner_top">
                          您加入的商品
                     </div>
                     <div  class="book_cart_inner_middle">
                          <!--empty cart begin-->
                          <p >您的购物车中还没有商品，赶紧去够选吧！</p>
                          <!--empty cart end-->  
                          <!--product begin-->
                          <dl ng-if="!noTopCartBook" ng-repeat="data in dataArray['cartBookList']" >
                              <dt>
                                  <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title=""><img src="{{data.pic}}" /></a>
                              </dt>
                              <dd class="cart_book_title">
                                  <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">{{data.name}}</a>
                              </dd>
                              <dd class="cart_book_price">
                                  ¥{{data.price}} * {{data.num}}<br/>
                                 <!--   <a href="#">删除</a>-->
                              </dd>
                          </dl>
                         
                          <!--product end-->
                          
                            
                     </div>
                     <div class="book_cart_inner_bottom">
                          共<i>{{topCartTotalNum}}</i>件商品　共计<b>¥{{topCartTotalPrice}}</b>
                          <a href="/module/goods/shoppingcart.jsp" title="去购物车">去购物车</a>                          
                     </div>
                </div>
                </div>
           </div>
           <nav class="book_nav">
                <div class="boor_sort">
                     图书所有分类
                     <i></i>
                     <div class="all_book_sort">
                          <dl ng-repeat="data in dataArray['rootType']"  class="dl_on">
                              <dt>
                                  <a href="javascript:void(0)" title="">{{data.name}}</a>
                                  <b></b>
                              </dt>
                              <dd>
                                  <a ng-repeat="sdata in data.secondType"  href="javascript:void(0)" ng-click="gotopage(sdata.name)" title="">{{sdata.name}}</a>
                              </dd>
                              <div class="arr_sec_sort"></div>
                              <div class="book_sec_sort">
                                   <div  ng-repeat="sdata in data.secondType"  class="sec_sort_line">
                                        <p class="sec_sort_title"><a  href="javascript:void(0)" ng-click="gotopage(sdata.name)" title="">{{sdata.name}}</a></p>
                                        <p class="third_sort">
                                           <span ng-repeat="tdata in sdata.thirdType" ><a href="javascript:void(0)" ng-click="goPageNew(tdata)" title="">{{tdata.name}}</a></span>
                                       </p>
                                   </div>
                              </div>
                          </dl>
                        
                     </div>
                     
                </div>
                <ul>
                    <li>
                        <a href="/module/goods/wssd_index.jsp" title="网上书店">网上书店</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="goRootType(1047,'科技')" title="科技图书">科技图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1048,'教育')">教育图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1049,'经济管理')">经济管理</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1050,'少儿')">少儿图书</a>
                    </li>
                    <li>
                        <a  href="javascript:void(0)" onclick="goRootType(1051,'大众')">大众图书</a>
                    </li>
                    <li>
                        <a href="/" title="出版社官网">官网首页</a>
                    </li>
                </ul>
           </nav>
           <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?661ca74856e211b2aec41a10c215cf52";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

function goRootType(id,str){
	 var name = encodeURIComponent(str);
	 location.href='/module/goods/searchkey.jsp?goodtypeid=1&goodtypename='+name;
}

function createXMLHttpRequest() {
    if (window.XMLHttpRequest) {
         //Mozilla 浏览器 
         XMLHttpReq = new XMLHttpRequest();
      } else{
          // IE浏览器
          if (window.ActiveXObject) {
            try {
                   XMLHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
                }catch (e) {
                   try {
                          XMLHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
                       }catch (e) { }
                }
           }
      }
  } 
function suggest()
{
     var key = document.getElementById("searchKey").value;
		var newstr = encodeURIComponent(key);
     sendRequest("/module/goods/searchajax.jsp?searchKey="+newstr);
}
function showSearchResult(data){
	console.info(data);
}
function sendRequest(url) {
    createXMLHttpRequest();
    XMLHttpReq.open("GET", url, true);
    //指定响应函数
    XMLHttpReq.onreadystatechange = handleResponse;
    // 发送请求
    XMLHttpReq.send(null); 
}   
function clearTable()
{
    var content = document.getElementById("content");
    while(content.childNodes.length>0)
    {
        content.removeChild(content.childNodes[0]);
    }    
    
}
function handleResponse() {
    // 判断对象状态
    if (XMLHttpReq.readyState == 4) { 
        // 信息已经成功返回，开始处理信息
       if (XMLHttpReq.status == 200) { 
            clearTable();
            var out = "";
            var res = XMLHttpReq.responseXML;
			//alert("res="+res);
			
            var items = res.getElementsByTagName("item");
			//alert("items="+items.length);
			
			//alert("adassssssss=>>>>="+items[0].firstChild.nodeValue);
            for(var i=0;i<items.length;i++)
            {
               //addRow(items(i).firstChild.nodeValue);
			   addRow(items[i].firstChild.nodeValue);
            }
            setDivStyle();
         }
     }
   }
function setDivStyle()
{
   var suggest = document.getElementById("suggest");
    suggest.style.border = "#CCE0EB 1px solid";
    //suggest.style.left = 213;
    //suggest.style.top = 140;
   //suggest.style.width = 195;
    //suggest.style.backgroundColor = "#EEF8FD"
    document.getElementById("suggest").style.visibility="visible"
}
function searchhidden(){
	document.getElementById("suggest").style.visibility="hidden";
}

function addRow(item)
{	
    var content = document.getElementById("content");
    var row = document.createElement("tr");
    var cell = document.createElement("td");
    cell.appendChild(document.createTextNode(item));
    cell.onmouseover = function(){this.style.background="#97D0EC"};
    cell.onmouseout = function(){this.style.background="#EEF8FD"};
    cell.onclick = function(){
    document.getElementById("searchKey").value=this.innerHTML;
    document.getElementById("suggest").style.visibility="hidden"};
    row.appendChild(cell);
    content.appendChild(row);
    
}
</script>
<script type="text/javascript">    

    document.onkeydown=keyDownSearch;
    
    function keyDownSearch(e) {  
        // 兼容FF和IE和Opera  
        var theEvent = e || window.event;  
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;  
        if (code == 13) {  
        	document.searchForm.submit()
           // console.info(code);
            return;  
        }  
        return;  
    }
</script>
    </header>
    <!--header beigin-->
    <!--search beigin-->
    <section>
        
			  <script src="/cns/templates/javascript/public.js" type="text/javascript"></script>

    <!--header beigin-->
    <!--search beigin-->
    <section>
        <div class="wrapper_book_content">
             <div class="web_book_localtion">
             <a href="/">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="locationGoRootType('教育')">教育</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:void(0)"  onclick="locationGoRootType('本科研究生')">本科研究生</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>计算机类</span>
             </div>
        </div>
        <div class="book_content_line">
             <div class="book_img_large">
                  <img src="https://www.phei.com.cn/covers/9787121473531.jpg" />
             </div>
             <div class="content_book_info">
                  <h1>5G物联网技术及应用&nbsp;&nbsp; </h1>
                  <p style="display:none;">著&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</p>
                  <p>作&nbsp;&nbsp;译&nbsp;&nbsp;者：沙秀斌,宋建全,陆婷</p>
                  <p>
                     <span>出版时间：2024-03</span>
                     <span>千 字 数：335</span>
                     <span>版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次：01-01  </span>
                     <span>页     数：204</span>
                  </p>
                  <p>
                     <span>开&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本：16开          </span>
                     <span>装&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帧：</span>
                     <span style="width:200px;">I S B N ：9787121473531</span>
                  </p>
                  <p>换&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版：</p>
                  <p class="book_price">
                     <span>纸质书定价：￥59.8</span>
                  </p>
                  <p class="book_buy">
                     <span><i>库存:有</i></span>
                  </p>
                  <div class="book_buy_btn">
                       <div class="btn_add_collection">
                          <a href="javascript:void(0)" onclick="addmyfavourite(64534)"></a>
                       </div>
                       <div id="buyHrefDiv" style="display:none;margin-right:30px;" class="btn_book_buy">
                          <a target="_blank" href="http://detail.tmall.com/item.htm?id=778159823616"></a>
                       </div>
                       <div id="eBookHref" style="display:none;float:left;width: 177px;height:45px;margin-right:50px;clear:none;background:url(/cns/templates/images/ebook.png);">
                          <a style="float:left;width: 177px;height:45px;" target="_blank" href="https://yd.51zhy.cn/ebook/web/newBook/queryNewBookById?id=210983589"></a>
                       </div>
                       
                       <div style="margin-top:9px;" class="btn_book_share" style="width:320px;">
                          <span>分享到：</span>
                          <span class="share_sina"><a target="_blank" id="shareWeiboHref" ></a></span>
                          <span class="share_weixin"><a href="javascript:void(0)"></a></span>
                          <div class="share_erwm" id="weicinQRCodeDiv" style="display: none;"></div>
                       </div>
                  </div>
                  <p>
                     <span>共有图书评论0条</span>
                     <a href="#comment" >【查看评论摘要】</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                  </p>
             </div>
        </div>
        <script >
        var temestorenum_str_new = '有';
        if(temestorenum_str_new == "有"){
        	jQuery("#eBookHref").show();
        }
        </script>
        <div class="book_content_line">
             <div class="book_content_view">
                  <p class="book_content_view_title">看了又看</p>
                  <ul>
                      <!--loop begin-->
                      <li ng-repeat="data in dataArray['seeOneSeeMoreList']" data-id="{{$index+1}}">
                          <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">
                             <img style="width:65px" src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                          </a>
                          <p class="view_li_title">
                             <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}" title="">{{data.bookName}}</a>
                          </p>
                          <p class="view_book_price">￥{{data.price}}</p>
                      </li>
                      <!--loop end-->
                  </ul>
             </div>
             <div class="book_content_container">
                  <div class="book_content_inner">
                       <div class="book_content_inner_title">
                       <p class="p_hover">内容简介</p>
                       <p>目&nbsp;录</p>
                       <p>前&nbsp;言</p>
                       <p>上架建议</p>
                       <p>作者简介</p>
                       <p style="display:none">获奖信息</p>
                       <p>编辑推荐</p>
                       <p id="peitaoziyuanP" style="display:none;" >配套资源</p>
                       <p id="audioVideoP">音视频专区</p>
                  </div>
                       <div class="book_inner_area">
                       <div class="book_inner_content" style=" display:none;">
                           <p>本书首先对物联网技术的标准发展背景、业务模型和应用场景、所涉及的关键技术及物联网技术的标准化过程进行了介绍；然后对5G时代的主要物联网技术进行了详细介绍；最后对典型的5G物联网应用案例进行了介绍。 本书内容全面、由浅入深、案例丰富、理论结合实践，适合初学者学习。 本书可作为等院校通信工程、物联网、计算机、电子信息类等专业的教材，也可作为5G物联网技术的学习者、从事5G物联网技术的研发人员和工作者及对5G物联网技术感兴趣的读者的参考用书。</p>
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                          <textarea cols=78 rows=20  readonly>第1章  物联网概述	1
1.1　物联网简介	1
1.1.1  物联网终端	2
1.1.2  物联网网络	2
1.1.3  物联网应用系统	2
1.2　物联网分类	3
1.2.1  采集数据类型	3
1.2.2  终端供电类型	3
1.2.3  网络类型	3
1.2.4  应用领域分类	4
1.3　物联网性能要求	4
1.4　物联网发展趋势	4
1.4.1  自助机器提供业务转向与智能终端应用共存	4
1.4.2  物联网应用系统更加智能化	5
1.4.3  VR/AR得到商用	5
1.4.4  车联网与自动驾驶	5
1.4.5  数字世界	5
1.5　物联网网络技术分类	6
1.5.1  授权频谱物联网技术	6
1.5.2  非授权频谱物联网技术	9
第2章  5G概述	10
2.1　移动通信技术发展史	10
2.2　5G技术演进	12
2.3　5G应用场景	14
2.3.1  eMBB	14
2.3.2  URLLC	15
2.3.3  mMTC	16
2.4　5G核心指标	18
2.5　5G关键技术	20
2.5.1  核心网	20
2.5.2  RAN	21
第3章  NB-IoT和LTE-M	24
3.1　标准发展背景介绍	24
3.2　业务模型和应用场景	24
3.3  关键技术	25
3.3.1  降成本	25
3.3.2  覆盖增强	27
3.3.3  寻呼机制增强和接入容量增强	28
3.3.4  终端节能	31
3.3.5  多RAT技术	75
3.3.6  频谱效率增强	90
3.3.7  定位服务增强	102
3.3.8  多播传输增强	106
第4章  NR-IIoT	113
4.1　标准发展背景介绍	113
4.2　业务模型和应用场景	113
4.2.1  娱乐业	114
4.2.2  自动化工厂	114
4.2.3  智能电网	115
4.3　关键技术	115
4.3.1  TSN精准授时	115
4.3.2  低时延、高可靠方面的增强	118
4.3.3  传输效率增强	121
4.3.4  确定性时延	123
第5章  NR RedCap终端	125
5.1　标准发展背景介绍	125
5.2　业务模型和应用场景	125
5.3　关键技术	127
5.3.1  降低成本技术	127
5.3.2  终端节能	133
5.3.3  终端接入控制	137
5.3.4  RedCap专用的初始BWP	139
5.3.5  NCD-SSB	140
第6章  IoT-NTN	142
6.1　标准发展背景介绍	142
6.2　业务模型和应用场景	143
6.3　关键技术	146
6.3.1  TA值的预补偿	146
6.3.2  定时关系	148
6.3.3  星历信息	148
6.3.4  随机接入过程	149
6.3.5  HARQ相关	149
6.3.6  定时器扩展	150
6.3.7  小区选择/重选	150
6.3.8  TAU	151
6.3.9  切换	152
6.3.10  不连续覆盖	153
6.3.11  星历信息的有效时间	154
6.3.12  长时间的上行传输	154
第7章  XR/AR业务支持	156
7.1　标准发展背景介绍	156
7.2　业务模型和应用场景	156
7.3　关键技术	156
7.3.1  XR业务的业务特征识别	157
7.3.2  承载XR业务的终端功耗问题	157
7.3.3  XR业务的容量问题	158
第8章  车联网支持	159
8.1　标准发展背景介绍	159
8.2  业务模型和应用场景	160
8.3　关键技术	161
8.3.1  邻近终端发现	161
8.3.2  侧行链路资源配置	162
8.3.3  侧行链路连接建立	163
8.3.4  中继终端重建	165
8.3.5  Uu接口与PC5接口之间的承载映射	165
第9章  基于5G网络的物联网应用	167
9.1　基于NB-IoT/LTE-M的物联网应用	167
9.2　基于NR-IIoT的物联网应用	170
9.3　基于RedCap的物联网应用	172
9.4　基于IoT-NTN的物联网应用	174
第10章  未来演进	176
10.1　XR/AR	176
10.2　个人特定物联网	177
10.3　被动式物联网	177
10.3.1  背景	177
10.3.2  应用场景	177
10.3.3  现有技术的不足	179
10.3.4  未来研究的方向	180
10.4　智能物联网	181
10.5　区块链+物联网	182
10.6　确定性网络	182
名称解释	185
缩略语	185</textarea>
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                           <textarea cols=78 rows=20 readonly>随着移动通信技术的发展，无线通信已经广泛应用到各行各业中。从2G（第2代移动通信技术）时代基于GERAN制式的蜂窝物联网，到4G（第4代移动通信技术）时代的NB-IoT/eMTC，乃至5G（第5代移动通信技术）时代的NR-IIoT、RedCap等，3GPP针对物联网的业务特点对标准进行了设计与增强，为开启万物互联的时代奠定了基础。
在物联网技术中，不同技术的性能指标及应用场景各不相同。例如，基于GERAN制式的蜂窝物联网及NB-IoT可支持的业务速率低、终端电量消耗低、终端成本也低，适用于业务速率低的场景，尤其适用于终端电量消耗及终端成本受限的场景；NR-IIoT适用于低时延、高可靠的工业物联网场景；而eMTC及RedCap的应用场景介于蜂窝物联网/NB-IoT与NR-IIoT之间，适用于业务速率中等，且终端成本比较低的场景。在5G时代，为了满足多样化的业务需求及多模态的物联网应用场景，多种物联网技术长期共存、互相补充将是物联网发展的常态。
本书针对物联网标准的发展背景、不同物联网技术的应用场景及关键技术进行了系统的介绍。在介绍的关键技术过程中，也介绍了相关技术的标准化过程，有助于读者对各种物联网技术进行全面、深入的理解。本书第1章对物联网进行了介绍，包括物联网简介、物联网分类、物联网性能要求、物联网发展趋势及物联网网络技术分类；第2章对5G标准演进过程进行了介绍，包括移动通信技术发展史、5G技术演进、5G 应用场景、5G核心指标和5G关键技术；第3～8章对各种5G时代的主要物联网技术进行了介绍，包括NB-IoT和LTE-M、NR-IIoT、NR RedCap终端、IoT-NTN（NB-IoT和LTE-M的空中接口通过卫星进行传输）、XR/AR业务支持及车联网支持；第9章介绍了几个典型的基于5G网络的物联网应用，包括基于NB-IoT/LTE-M的物联网应用、基于NR-IIoT的物联网应用、基于RedCap的物联网应用及基于IoT-NTN的物联网应用；第10章对物联网的未来演进进行了展望。
本书各章节的撰写分工如下：第1章由宋建全和戴博撰写；第2章由沙秀斌和谈杰撰写；第3章由戴博、陆婷和刘锟撰写；第4章由谈杰和沙秀斌撰写；第5章由胡有军、戴博和艾建勋撰写；第6章由牛丽、陆婷和沙秀斌撰写；第7章由宋建全、戴博和沙秀斌撰写；第8章由宋建全撰写；第9章由沙秀斌、戴博和牛丽撰写；第10章由戴博、高音、边峦剑、谈杰和沙秀斌撰写。
本书是基于编者对物联网标准的发展、物联网技术标准化讨论过程及对物联网标准的理解进行撰写的，其中观点难免有欠周全之处。对书中存在不足之处，敬请读者谅解，并给予宝贵建议。

编者</textarea>　　                                                                                                                                 
                       </div>
                       <div class="book_inner_content" style=" display:none;">
                            <textarea cols=78 rows=20 readonly></textarea>                                                                    
                       </div>
                       <div class="book_inner_content" style=" display:none;">
 							 <textarea cols=78 rows=20 readonly>沙秀斌，西南交通大学硕士毕业，2001年至今就职于中兴通讯股份有限公司，先后从事CDMA产品的软件开发，WCDMA、TD-SCDMA和LTE产品的无线算法设计、仿真、外场测试以及NB-IoT、eMTC、NR IIoT、NR eRedCap等无线物联网的标准技术预研。     </textarea>                                                                                                
                       </div>
                       <div class="book_inner_content" style=" display:none;">
							<ul>
							
							</ul>
							                                                                                                     
                       </div>
                       <div class="book_inner_content" style=" display:none;">
						　 <textarea cols=78 rows=20  readonly>  </textarea>  
						</div>                           
                       <div id="peitaoziyuanDiv" style="display:none;" class="book_inner_content" >
                       <style>
a.test1:link{
    font-size:17px; 
    color: #666;
    text-decoration: none;
}
a.test1:visited{
    font-size: 17px; 
    color: #666;
    text-decoration: none;
}
a.test1:hover{
    font-size: 17px; 
    color: #333;
    text-decoration: underline;
}
a.test1:active{
    font-size: 17px; 
    color: #666;
    text-decoration: none;
}
a.test2:link{
font:20px/24px Arial,"Microsoft YaHei";
    font-size:14px; 
    color: #666;
    text-decoration: none;
}
a.test2:visited{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #666;
    text-decoration: none;
}
a.test2:hover{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #333;
    text-decoration: underline;
}
a.test2:active{
font:20px/24px Arial,"Microsoft YaHei";
    font-size: 14px; 
    color: #666;
    text-decoration: none;
}
                       </style>
                       
                           <p ng-if="!hasBookSource"></p>
                           <div ng-if="hasBookSource" class="book_content_zy">
                                <ul>
                                    <li>
                                        <a id="sourceHref"  target="_blank" href="http://www.hxedu.com.cn/hxedu/fg/book/bookinfo.html?code={{urlBookCode}}" title="">本书配套资源下载</a>
                                    </li>
                                </ul>
                           </div> 
          <div class="book_content_zy">
                                <div ng-if="hasBookSource" class="book_zy_title">
                                <a style="display:none;" class="test1" target="_blank" href="http://www.hxedu.com.cn/hxedu/fg/book/bookinfo.html?code={{urlBookCode}}">本书配套资源</a>
                                <br /><br />
                                <a style="display:none;" id="sourceHref" class="test2"  title="">本书其他配套资料下载</a>
                                <script>
                              //资源
                            	var source = '';
                            	if(source == ""){
                            		//jQuery("#sourceHref").html("本书暂无其他配套资料");
                            	}else{
                            		//jQuery("#sourceHref").html("本书其他配套资料下载");
                            		//jQuery("#sourceHref").attr("href","/module/goods/manager/templates/uploadfile/"+source);
                            	}
                                </script>
                                </div>
                           </div>                                                                                                    
                       </div>
                       <div  class="book_inner_content"  style=" display:none;">
                           <p id="noMediaDiv">对不起，暂无音视频资源！</p>
                           <div id="hasMediaDiv" class="book_audio_video">
                                <div id="bookAudioDescDiv" style="display:none;" class="book_audio_video_title">本书音频资源</div>
                                <div id="bookAudioDiv" style="display:none;" class="book_audio">
                                    <!-- 音频开始 -->
                                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="350" height="30"
    codebase="/player/mp3/swflash.cab">
    <param name="movie" value="/player/mp3/EasyMp3Player.swf?showDownload=false&file=/module/goods/manager/templates/uploadfile/" />
    <param name="wmode" value="transparent" />
    <embed wmode="transparent" width="350" height="30" src="/player/mp3/EasyMp3Player.swf?showDownload=false&file=/module/goods/manager/templates/uploadfile/"
    type="application/x-shockwave-flash" pluginspage="" />
</object>
                                    <!-- 音频结束 -->
                                </div>
                                <div id="bookVideoDescDiv" style="display:none;" class="book_audio_video_title">本书视频资源</div>
                                <div id="bookVideoDiv" style="display:none;" class="book_video">
                                <!-- 视频开始 -->
                                     <div class="video" id="CuPlayer">
<script type="text/javascript">

var vID        = "c1";                   //vID
var vWidth     = "600";                  //宽度设定，配合CSS实现
var vHeight    = "400";                  //高度设定，配合CSS实现
var vFile      = "/player/CuSunV4set.xml";       //配置文件地址:支持五种广告设定
var vPlayer    = "/player/player.swf?v=4.0";     //播放器文件地址
var vPic       = "/player/pic/pic01.jpg?1=1";        //视频缩略图
var vCssurl    = "/player/css/videos.min.css";   //CSS文件
var vAutoPlay  = "no";                  //是否自动播放
var vEndTime   = 0;                      //预览时间(秒数),默认为0
var vLogoPath  = "";      //Logo地址
var vPlayMod   = 0;                      //播放模式优先级,默认=0,html5优先=1,flash优先=2
var vMp4url    = "/module/goods/manager/templates/uploadfile/";//视频文件地址推荐用mp4文件(h264编码)


</script>
<script class="CuPlayerVideo" data-mce-role="CuPlayerVideo" type="text/javascript" src="/player/js/player.min.js"></script>

</div>
                                <!-- 视频结束 -->
                                </div>
                           </div>                                                                                                    
                       </div>
                  </div>
                  </div>
                  <div class="book_content_pinglun">
                       <div class="content_pinglun_title">
                       <a  name="comment"></a>
                            <span><a href="/module/goods/wssd_content_comment.jsp?bookid=64534">查看更多 ></a></span>
                            图书评论 
                       </div>
                       <div class="book_content_pinglun_form">
                            <p id="noCommentP" class="no_pinglun">暂无评论</p>
                            <div class="pinglun_area">
                                 <ul>
                                 
                                 </ul>
                            </div>
                            <div class="pinglun_form_title">发表图书评论</div>
                            <dl>
                            <form name="formcomment" method="post" action="/module/comment/commentalllogin.jsp">
                            <input type="hidden" name="goodid" value="64534"/>
                            <input type="hidden" name="locationHref" value="bookInfo"/>
                            <input  type="hidden" name="rank" id="radio" value="5" />
                                <dt>评论标题：</dt>
                                <dd><input type="text" name="title" class="dd_input_title"></dd>
                                <dt>评论内容：</dt>
                                <dd><textarea name="textcontent" onKeyDown='if (this.value.length>=100){event.returnValue=false}' class="dd_itextarea"></textarea></dd>
                                <dt>验 证 码：</dt>
                                <dd>
                                    <input type="text" name="VCode" class="dd_input_yzm">
                                    <span><img id="VCodeImg" src="/module/membercenter/ValidateImage.jsp" width="77" height="38" /></span>
                                    <i><a  href="javascript:void(0)" onclick="refresh()">看不清楚<br/>点击刷新</a></i>
                                </dd>
                                <dt>&nbsp;</dt>
                                <dd ng-if="isLogined">
                                    <input type="button" class="dd_btn_tj" onclick="commentBook()" style=" border:0;color:#fff;" value="发表评论">
                                </dd>
                                </form>
                                <dd ng-if="!isLogined">
                                    <input type="button" class="dd_btn_tj" style=" border:0;color:#fff;" value="发表评论">
                                    <p class="p_tip">您还没有登录，请登录后再评论。</p><span  class="span_login"><a href="/module/membercenter/memberlogin.jsp?backUrl=/module/goods/wssd_content.jsp?bookid=34544">点击“登录”</a></span>
                                </dd>
                            </dl>
                       </div>  
                  </div>
                  <div class="book_buy_view">
                       <div class="book_buy_view_title">购买过本书的顾客还买过</div>
                       <ul>
	                       <li ng-repeat="data in dataArray['buyOneBuyMoreList']" data-id="{{$index+1}}">
	                          <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}">
                              <p class="li_book_img">
                                 <img src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                              </p> 
                              <p class="li_book_title">{{data.bookName}}</p>
                              <p class="li_price">￥{{data.price}}</p>
                              </a>
	                      </li>
                       </ul>
                  </div>
                  <div class="book_buy_view">
                       <div class="book_buy_view_title">最近浏览</div>
                       <ul>
                           <li ng-repeat="data in dataArray['history']" data-id="{{$index+1}}">
                              <a href="/module/goods/wssd_content.jsp?bookid={{data.bookId}}">
                              <p class="li_book_img">
                                 <img src="{{data.bookImg.replace('http://218.249.32.138/thumbs', 'https://www.phei.com.cn/covers')}}" />
                              </p>
                              <p class="li_book_title">{{data.bookName}}</p>
                              <p class="li_price">￥{{data.price}}</p>
                              </a>
                           </li>
                       </ul>
                  </div>
             </div>
            
        </div>
    </section>
    <!--bottom menu beigin-->
     ﻿<section class="web_book_bottom">
        <div class="web_book_bottom_inner">
             <div class="web_book_bottom_innerleft">
                   <dl>
                      <dt>关于我社</dt>
                      <dd>
                      <!--EHM_SystemNav?pcid=18&showlocation=0-->
                  		
                         <a href="/gywm/cbsjj/2010-11-19/47.shtml">出版社简介</a>
                  		
               	   	     
                  		
                         <a href="/gywm/szzc/2010-11-19/48.shtml">社长致辞</a>
                  		
               	   	     
                  		
                         <a href="/gywm/smsh/2010-11-19/49.shtml">社名社徽</a>
                  		
               	   	     
                  		
                         <a href="/gywm/jgsz/2010-11-19/50.shtml">机构设置</a>
                  		
               	   	     
                  		
                         <a href="/gywm/gjhz/2010-11-19/39.shtml">国际合作</a>
                  		
               	   	     
                  		
                         <a href="/gywm/qkjs1/2018-10-14/836.shtml">期刊介绍</a>
                  		
               	   	     <!--/EHM_SystemNav-->
               	   	     <!--EHM_SystemNav?pcid=18&showlocation=1--><!--/EHM_SystemNav-->
                      </dd>
                  </dl>
                  <dl>
                      <dt>读者服务</dt>
                      <dd>
                       
                        <a href="/xssl/gszn/2011-07-28/336.shtml" title="">购书指南</a>
                       
                        <a href="/xssl/cpfw/2011-07-28/334.shtml" title="">产品范围</a>
                       
                        <a href="/xssl/wzjs/2011-07-25/330.shtml" title="">网站介绍</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>作译者服务</dt>
                      <dd>
                          
                        <a href="/module/contribution/wstg_index.jsp" title="">网上投稿</a>
                       
                        <a href="/wstg/csfx/index.shtml" title="">出书方向</a>
                       
                        <a href="/wstg/bjbm/index.shtml" title="">编辑部门</a>
                       
                        <a href="/wstg/zyzxz/index.shtml" title="">作译者须知</a>
                       
                        <a href="/module/membercenter/hyzx.jsp" title="">您的著作</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>数字资源</dt>
                      <dd>
                          
                        <a href="http://www.hxedu.com.cn" title="">华信教育资源网</a>
                       
                        <a href="https://yd.51zhy.cn/" title="">悦读</a>
                       
                        <a href="https://yx.51zhy.cn/" title="">悦学</a>
                       
                        <a href="https://yz.51zhy.cn" title="">悦知</a>
                       
                        <a href="https://znzz.51zhy.cn" title="">悦智</a>
                       

                      </dd>
                  </dl>
                  <dl>
                      <dt>联系我们</dt>
                      <dd>
                          
                        <a href="/lxwm/wsdz/2018-10-14/854.shtml" title="">联系方式</a>
                       
                        <a href="https://phei.zhiye.com/" title="">诚邀英才</a>
                       

                      </dd>
                  </dl>
             </div>
             <div class="web_book_bottom_innerright">
                  <p>
                      <span class="bg_visit">关注我们&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="/module/goods/smxz.jsp">书目下载</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MjM5OTEzMjg3Mw==&mid=212390993&idx=1&sn=f5b3fb3097af79ce5fcce64e34826cb0&chksm=2f9c5ff718ebd6e14a8cda34ea8f310d5696da3cddbeccb4c46bdec607f28afd96ad42df48a5&mpshare=1&scene=1&srcid=12278jdXq2Umf05cTGLL9Dro#rd">微信矩阵</a></span> 
                  </p>
                  <p>
                     <a href="https://dzgycbs.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.2.67db3d8ctVzbmz&user_number_id=1932014659&rn=f10e85f71f9f4ac1f4082e951efc341f" target="_blank"><img src="/templates/images/img_tmall.jpg" width="108" height="108" /></a>
                     <img src="/templates/images/img_ewm_weibo.jpg" width="108" height="126" />
                     <img src="/templates/images/img_ewm_weixin.jpg" width="108" height="126" />
                  </p>
             </div>   
        </div>
        <div style=" clear:both"></div>
    </section>
    <!--bottom menu end-->
    <!--footer beigin-->
    <footer>
        <div class="web_book_footer">
             <span>电子工业出版社地址：北京市万寿路南口金家村288号华信大厦</span></br>
<span>版权所有(C)2017电子工业出版社</span><span><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备11030724</a></span>
<span>出版物经营许可证：新出发京批字第版130001号</span>
        </div>
    </footer>
     <script src="/templates/javascript/imageSrcConvert.js" type="text/javascript"></script>

    <!--footer beigin-->
     <script src="/module/goods/manager/newjs/goodTypeNew.js" type="text/javascript"></script>
    <script src="/module/goods/js/wssd.js" type="text/javascript"></script>
    <script>
    //是否有电子课件在线资源，链接到华信教育资源网
    $(document).ready(function(){
    	
    //buyHrefDiv	
    var thirdHrefCode = '778159823616';
    if(thirdHrefCode!= ""){
    	jQuery("#buyHrefDiv").show();
    }
    var url = "/module/goods/abookSource.jsp?isbn=9787121473531";
    handleTrans(url,{},showHasSource);
    function showHasSource(jsonData){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
         var $scope = angular.element(appElement).scope();
         if(jsonData.code == 0){
			$scope.hasBookSource = true;    
			var source = '';
			$scope.showziyuan= false;
			if(source != "" || $scope.hasBookSource ){
				$scope.showziyuan= true;
				jQuery("#peitaoziyuanP").show();
				jQuery("#peitaoziyuanDiv").show();
			}else{
				jQuery("#peitaoziyuanP").hide();
				jQuery("#peitaoziyuanDiv").hide();
			}
			$scope.urlBookCode = jsonData.bookCode;        	 
         	$scope.$apply();
         }
    }
    //看了又看
    var seeoneseemoreUrl = "/module/goods/llgbsdgkhkg_include.jsp?shownum=10&liststr=seeoneseemorelist&bookid=64534";
    handleTrans(seeoneseemoreUrl,{},showSeeOneSeeMore);
    function showSeeOneSeeMore(jsonData){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
    	var $scope = angular.element(appElement).scope();
    	if(!$scope.dataArray){
    		$scope.dataArray = [];
    	}
        if(jsonData.code == 0){
			$scope.dataArray['seeOneSeeMoreList'] = jsonData.bookList;        	 
        }
        $scope.$apply();
    	 
    }
    //买了又买
    var buyOneBuyMoreUrl = "/module/goods/haimaile_include.jsp?shownum=6&liststr=haimailelist&bookid=64534";
    handleTrans(buyOneBuyMoreUrl,{},showBuyOneBuyMore);
    function showBuyOneBuyMore(jsonData){
    	var appElement = document.querySelector('[ng-controller=topDivCtrl]');
    	var $scope = angular.element(appElement).scope();
        if(jsonData.code == 0){
        	if(!$scope.dataArray){
        		$scope.dataArray = [];
        		$scope.dataArray['buyOneBuyMoreList'] = [];
        	}
			$scope.dataArray['buyOneBuyMoreList'] = jsonData.bookList;        	 
        }
        $scope.$apply();
    	 
    }
    //最近浏览
    var url = "/module/goods/goodcookie.jsp?shownum=12&liststr=cookielist&bookid=64534&c="+redcookie('phei');
    handleTrans(url,{},showHistory);
   
    function showHistory(jsonDate){
    	 var appElement = document.querySelector('[ng-controller=topDivCtrl]');
         var $scope = angular.element(appElement).scope();
         if(!$scope.dataArray){
         	$scope.dataArray = [];
         	$scope.dataArray['history'] = [];
         }
         //console.info(angular.element(appElement).scope());
     	$scope.dataArray['history'] = jsonDate.historyList;
         $scope.$apply();
        
    }
    });
    </script>
    <script>
    $(document).ready(function(){
//分享功能
		var url = 'http://service.weibo.com/share/share.php?url='+location.href+'&title=5G物联网技术及应用&searchPic=true';
		var sharePic = "";
		jQuery("img").each(function(){
			if($(this)[0].width >= 300 && $(this)[0].height >=300){
				sharePic = $(this)[0].src;
				 return false; //跳出循环
			}
		});
		if(sharePic != ""){
			url += "&pic="+sharePic;
		}
		jQuery("#shareWeiboHref").attr("href",url);
		var domain = window.location.host; 
		var qrcodeurl = "http://"+domain+"/module/wap/sbookcd.jsp?goodid=64534"
		jQuery('#weicinQRCodeDiv').qrcode(qrcodeurl);
		//jQuery('#weicinQRCodeDiv').show();	
		
		var hasComment = "false";
		if(hasComment == "true"){
			jQuery("#noCommentP").hide();
		}
		//评论
function commentBook(){
	document.formcomment.submit();
}
	
	//音频视频
	var video = '';
	var audio = '';
	
	var haveNoMedia = (video == "" && audio =="");
	if(haveNoMedia){
		jQuery("#noMediaDiv").show();
		jQuery("#audioVideoP").hide();
	}else{
		jQuery("#audioVideoP").show();
		jQuery("#noMediaDiv").hide();
	}
	if(video != ""){
		jQuery("#bookVideoDescDiv").show();
		jQuery("#bookVideoDiv").show();
	}
	if(audio != ""){
		jQuery("#bookAudioDescDiv").show();
		jQuery("#bookAudioDiv").show();
	}

 

    });
    var recCategory = "教育";
    var recName = "5G物联网技术及应用";
    var recId = "64534";
    var recISBN = "9787121473531";
</script>
<script type="text/javascript" src="/module/goods/js/topCart.js"></script>
<script>
/*function isMobile() {
    var userAgentInfo = navigator.userAgent;

    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

    var mobile_flag = false;

    //根据userAgent判断是否是手机
    for (var v = 0; v < mobileAgents.length; v++) {
        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
            mobile_flag = true;
            break;
        }
    }

     var screen_width = window.screen.width;
     var screen_height = window.screen.height;    

     //根据屏幕分辨率判断是否是手机
     if(screen_width < 500 && screen_height < 800){
         mobile_flag = true;
     }

     return mobile_flag;
}*/

//if(isMobile()){
	///location.href="/module/wap/sbookcd.jsp?goodid=64534";
//}
</script>
<script type="text/javascript" src="/cns/templates/javascript/a.js"></script>
</body>
</html>

