{% extends "_base.html" %}
{% block illustration %}
<svg class="diagram" viewBox="0 0 560 760">
  <path class="soft" d="M280 86l174 64v168c0 136-76 250-174 316-98-66-174-180-174-316V150z"/>
  <rect class="surface" x="206" y="300" width="148" height="136" rx="22"/>
  <path class="line" d="M236 300v-48c0-58 88-58 88 0v48"/>
  <circle class="solid" cx="280" cy="354" r="18"/>
  <path class="line" d="M280 372v34"/>
  <circle class="surface" cx="86" cy="608" r="42"/>
  <circle class="surface" cx="474" cy="608" r="42"/>
  <path class="line dash" d="M122 586l70-62M438 586l-70-62"/>
</svg>
{% endblock %}
