{% extends "_base.html" %}
{% block illustration %}
<svg class="diagram" viewBox="0 0 560 760">
  <path class="line" d="M154 154L66 242l88 88M406 154l88 88-88 88"/>
  <path class="line" d="M328 108L232 372"/>
  <rect class="surface" x="90" y="474" width="136" height="112" rx="24"/>
  <rect class="surface" x="334" y="474" width="136" height="112" rx="24"/>
  <rect class="surface" x="212" y="604" width="136" height="104" rx="24"/>
  <path class="line dash" d="M226 530h108M158 586l90 44M402 586l-90 44"/>
  <path class="line" d="M122 512h72M366 512h72M244 642h72"/>
  <circle class="solid" cx="280" cy="530" r="22"/>
</svg>
{% endblock %}
